body, html{
	height: 100%;
	width: 100%;
}

body{
	position: relative;
}

.cp-container{
	height: 70%;
	width: 100%;
	background-color: white;	
}

.cp-content{
	height: 100%;
	width: 100%;
}

.cp-divider{
	background-color: #f05042;
	border-radius: 1px;
	height: 1px;
	width:50%;
	margin: auto;
	max-width: 500px;
}

.cp-heading{
	height: 50%;
	position: relative;
}

.cp-stears{
	margin-top: 20px;
	height: 50%;
}

.cp-title{
	height: auto;
	line-height: 1;
	font-size: 80px;
	text-align: center;
	color: black;
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;

	font-weight: 400;
}
.cposter{
	height: 100%;
	width: 100%;
	padding:10%;
}

.cps{
	font-size: 40px;
	text-align: center;
	color: black;

	font-weight: 400;
}



