body, html{
	height: 100%;
	width: 100%;
}

body{
	position: relative;
}

.c-container{
	margin-top: 20px;
	background-color: transparent;
}

.cb-page{
	/*height: 100%;*/
	width: 85%;
	max-width: 1100px;
	margin: auto;
	background-color: white;
	/*border-top: 4px solid #f05042;*/
}

.cb-heading{
	/*height: 20%;*/
	background-color: white;
	border: 1px solid #f2f2f2;
}

.cb-left{
	/*height: 80%;*/
	width: 60%;
	background-color: white;
	display: inline-block;
	border: 1px solid #f2f2f2;

	padding:40px;
	vertical-align: top;
}	

.cb-right{
	height: 80%;
	width: 35%;
	background-color: white;
	display: inline-block;
	border: 1px solid #f2f2f2;

	vertical-align: top;
}

.c-body{
	height: 100%;
	background-color: white;
}

.cp-container{
	height: 90%;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #f2f2f2;
}

.cp-content{
	height: 100%;
	width: 100%;
}

.cp-divider{
	background-color: #f05042;
	border-radius: 1px;
	height: 1px;
	width:50%;
	margin: auto;
	max-width: 500px;
}

.cp-heading{
	height: 50%;
	position: relative;
}

.cp-stears{
	margin-top: 20px;
	height: 50%;
}

.cp-title{
	height: auto;
	line-height: 1;
	font-size: 80px;
	text-align: center;
	color: black;
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	font-weight: 400;
}

.cposter{
	height: 100%;
	width: 100%;
	padding:10%;
}

.cps{
	font-size: 40px;
	text-align: center;
	color: black;
	font-weight: 400;
}

.l-body{

}

.l-container{
	width: 100%;
	max-width: 600px;
}

.l-headline{

}

.lh-text{

}

.lh-h2{
	font-size: 30px;
}

.lb-text p{
	font-size: 16px;
	margin-top: 30px;
	line-height: 1.5;
}


@media (min-width: 991px){

}

@media (min-width: 768px) and (max-width: 990px){

}

@media (min-width: 480px) and (max-width: 767px){

}

@media (max-width: 479px){
	.cp-title{
		font-size: 60px;
	}
	.cps{
		font-size: 30px;
	}
}