

body.news{
border-top: 6px solid #f05042;
margin:0px;
background: #f8f8f8;
}

.inherit-height{
	height:100%;
}
.fill {
width:100%;
margin-left: auto;
margin-right: auto;
min-width:100% !important;
}
div.row.news-ss-bar{
background-color: white;
height: 44px;
border-bottom: 1px solid #efefef; /* #e2e2e2 */
/*border-bottom: 1px solid #f05042;*/
}
div.row.news-n-bar{
height: 80px;
border-top: 0px none #e2e2e2;
border-bottom: 1px solid #e2e2e2;
background: white;
}

.news-search-icon {
display: inline;
vertical-align: middle;
}

.news-searchside-column{
border-right: 1px solid #e2e2e2;
}

.news-socialside-column{
	padding-left:25px;
}

.news-search-bar {
display: inline;
max-width: 340px;

margin:0;
border:none;
display:inline-block;
padding:3px;
}
.social-icon img{
	height:100%;
}

.social-icon{
padding: 8px;
height:100%;
display: inline-block;
}

.news-nav-links{
	padding:28px;
	padding-left: 60px;
	color: #4a4a4a;
}

.news-nav-text{
	vertical-align: center;
	padding:10px;
	font-size: 14px;
	color:#4a4a4a;
	font-family: "Helvetica Neue"
}

input#search-input{
	min-width:100%;
	border:transparent;
	border-width: 0px;
	box-shadow: 0px 0px 0px 0px #e2e2e2;
	transition: none;
}

input#search-input:focus{
	border:blue 1px solid;
}

.news-photo-section{
	padding-top: 80px;
	padding-bottom: 0px;
}

.article-markets{
	padding:5px;
}

.main-article{
	background: #2e2e2e;
	width:100%;
	min-height: 380px;
	padding:5px;
}

.gainers-card {
	display: inline-block;
	border-top: 5px solid #70a65a;
	background-color: white;
	padding:10px;
}

.market-snapshot{
	background: #515151;
	width: 100%;
	min-height: 380px;
}

.gainers-row{
	border-top: 1px #efefef solid;
	padding: 5px 15px 5px 15px;
	vertical-align: middle;
	font-size: 13px;
}

.gainers-stock-price{

}

@media screen and (max-width: 641px) {
    div.row.news-n-bar{
		height: 120px;
	}

	.news-nav-links{
		padding-left: 0px;
	}

	.news-nav-text{
		font-size: 12px;
	}

}

@media screen and (min-width: 641px){
	.news-nav-text{
		font-size: 13px;
	}

	.news-search-bar {
		min-width: 90%;
	}
}
