{% extends 'news/news_base.html' %}

{% block title %}Article{% endblock %}

{% block body %}
<body>
  {% include 'news/news_nav.html' %}
  
  <div class="w-section article-image"></div>
  <div class="w-row article-content">
    <div class="w-col w-col-9 article">
      <div class="w-hidden-main w-hidden-medium article-author mobile-element">Author Name</div>
      <div class="w-hidden-main w-hidden-medium article-category mobile-element">Category</div>
      <h1 class="article-header">Heading</h1>
      <p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
        <br>
        <br>Polaroid you probably haven't heard of them Intelligentsia taxidermy listicle mumblecore, Neutra gentrify bicycle rights Etsy. Bicycle rights American Apparel Carles whatever. Next level cray Brooklyn food truck American Apparel four dollar toast, craft beer hoodie. Trust fund photo booth try-hard, cred chambray irony scenester quinoa PBR&amp;B. Meggings occupy hashtag, Helvetica semiotics try-hard cronut. Truffaut Pinterest hashtag four loko, master cleanse roof party Neutra banjo heirloom McSweeney's. Aesthetic gluten-free Wes Anderson, chillwave 90's gentrify 8-bit fanny pack Echo Park butcher before they sold out kogi.
        <br>
        <br>Vinyl artisan salvia stumptown fashion axe, tofu meh Blue Bottle mixtape chia hella. VHS messenger bag leggings Marfa lumbersexual before they sold out, polaroid direct trade chambray disrupt tilde whatever selfies flexitarian kale chips.
        <br>
        <br>Sustainable roof party fixie Austin, bitters chambray Kickstarter fanny pack. Retro twee Williamsburg direct trade, asymmetrical Neutra fingerstache PBR&amp;B. Tumblr pickled McSweeney's paleo mustache. 8-bit meditation farm-to-table cray cliche Neutra. +1 shabby chic four dollar toast, tofu taxidermy occupy Thundercats Intelligentsia.Occupy raw denim banh mi, cornhole bicycle rights tattooed heirloom authentic organic kale chips PBR VHS. Chillwave plaid wayfarers, polaroid lomo keytar yr aesthetic McSweeney's. Ugh meh Truffaut whatever. Vinyl Carles raw denim tattooed, Helvetica umami bespoke Tumblr before they sold out forage blog wolf lomo.
        <br>
        <br>Forage Helvetica Vice, brunch Schlitz vinyl meditation Marfa lomo Tumblr church-key keffiyeh 8-bit stumptown. Biodiesel pickled Marfa, trust fund street art Austin hella crucifix artisan photo booth gluten-free four loko. Fingerstache Shoreditch Truffaut, disrupt meditation farm-to-table pug aesthetic.Ethical banh mi pug meditation, Helvetica wayfarers salvia chambray cray pour-over vinyl. Butcher ethical art party, cliche next level American Apparel blog jean shorts Vice trust fund synth.
        <br>
        <br>Shoreditch dreamcatcher Intelligentsia, street art taxidermy flexitarian migas fingerstache fashion axe Austin Carles pop-up Brooklyn.
        <br>
        <br>Forage church-key next level Neutra, cold-pressed iPhone DIY deep v typewriter asymmetrical. Artisan bitters retro butcher slow-carb tousled, Marfa Tumblr you probably haven't heard of them taxidermy swag 3 wolf moon try-hard salvia. Wes Anderson sriracha PBR chillwave, whatever lo-fi Vice PBR&amp;B meditation tilde tousled keffiyeh Intelligentsia gastropub. Asymmetrical pickled Helvetica Echo Park put a bird on it brunch.</p>
    </div>
    <div class="w-col w-col-3 w-hidden-small w-hidden-tiny article-information">
      <div class="article-author">Author Name</div>
      <div class="article-category">Category</div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
{% endblock %}