{% extends 'news/news_base.html' %}
{% load stears_tags %}

{% block special_links %}
{% ifequal sUri 'http://www.stearsng.com' %}
{% include 'news/ganalytics.html' %}
{% endifequal %}
{% endblock %}

{% block title %}{{ article.headline }} | Stears{% endblock %}

{% block meta %}
<meta name="description"           content="{{ article.par1|truncatechars:'150' }}"/>
<meta property="og:url"            content="{{ aUri }}" />
<meta property="og:type"           content="article" />
<meta property="og:title"          content="{{ article.headline }}" />
<meta property="og:description"    content="{{ article.par1 }}" />
<meta property="og:image"          content="http://www.stearsng.com{{ article.photo }}"/>
<meta property="article:author"    content="{{ article.writer|format_name:'long' }}"/>
<meta property="article:publisher" content="https://www.facebook.com/stearsng"/>
<meta property="fb:app_id"         content="457339461112605" />
{% endblock %}

{% block body %}
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '457339461112605',
          xfbml      : true,
          version    : 'v2.4'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    {% include 'news/news_nav.html' %}
    <div class="article-page-container">
      <div class="article-container">
        <h1 class="article-header">{{ article.headline }}</h1>
        <div class="w-section article-image">
          <div class="article-author">Written by <font class="author-name">{{ article.writer|format_name:'long' }}</font></div>
          <div class="clock-time">
            <img src="/static/images/clock.svg" alt="" class="clock">
            <p class="time">{{ article.posted }}</p>
          </div>
          <br>
          <img src="{{ article.photo }}" class="article-page-image" alt="{{ article.headline }}">
        </div>
        <div class="w-section w-clearfix article-content">
          <div class="w-clearfix article-detail">
            <div class="article-author article-page">{{ article.author }}</div>
            <div class="article-category article-page">{{ article.category|pretty_category }}</div>
            <div class="share-article">
              {% include 'news/share_article.html' %}
            </div>
          </div>
          <div class="article-paragraph">
            {% autoescape off %}
              {{ article.content }}
            {% endautoescape %}
          </div>
          <div class="tags-block">
            {% for tag in article.keywords %}
              <div class="article_tag tag_{{ tag }}">
                {{ tag }}
              </div>
            {% endfor %}
          </div>
          <br>
          <div class="article-author article-bottom">Written by <font class="author-name">{{ article.writer|format_name:'long' }}</font></div>
          <br>
          <br>
          <div class="share-article article-bottom">
            {% include 'news/share_article.html' %}
          </div>
          <div class="copyright">
            <p><strong>Copyright © STEARS 2015</strong>   All rights reserved. This material, and other digital content on this website, may not be reproduced, published, broadcast, rewritten or redistributed in whole or in part without digital reference to <em>STEARS</em>.</p>
          </div>
        </div>
      </div>
      <div class="article-extras-container">
        <div class="top-stories-container">
          <div class="top-stories-header">
            <h3>
              Stears Top Picks
            </h3>
          </div>
          <div class="gif-loader" id="top-gif-loader" hidden>
            <img src="/static/images/ajax-loader.gif" alt="">
          </div>
          <div class="top-stories-body">
            <div class="top-story" id="example_main_feature">
              <h4 class="top-story-headline">
                <a href=''></a>
              </h4>
              <div class="top-story-body">
                <div class="top-story-summary">
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="reports-ad-link" href="{% url 'news:reports' %}">
          <div class="reports-ad-container">
            <div class="reports-ad-top">
              <h4 class="report-catch">Want to stay ahead?</h4>
              <p class="report-ad-pre">
                Click to view detailed overviews of the Nigerian financial markets for the past week and several others.  
              </p>
            </div>
            <div class="reports-ad-header">
              <h3>
                Stears<font color="#f05042">Report</font>
              </h3>
            </div>
            <div class="reports-ad-body">
              <p class="report-ad">
                Stears Report provides free weekly overviews of Nigerian financial markets and the Nigerian Stock Exchange (NSE). Click to view and download the PDFs.
              </p>
            </div>
          </div>
        </a>
        <div class="sfeatures-container">
          <div class="features-header">
            <h3>
              Features
            </h3>
          </div>
          <div class="gif-loader" id="features-gif-loader" hidden>
            <img src="/static/images/ajax-loader.gif" alt="">
          </div>
          <div class="features-body">
            <div class="feature" id="example_feature">
              <div class="sfeature-photo">
                <img src="" alt="">
              </div>
              <div class="feature-body">
                <h4 class="feature-headline">
                  <a href=''></a>
                </h4>
                <div class="feature-writer">
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    {% include 'news/footer.html' %}
    <script type="text/javascript" src="/static/js/jquery1-11-1.min.js"></script>
    <script type="text/javascript" src="/static/js/news/article.js"></script>
  </body>
{% endblock %}