{% extends 'news/news_base.html' %}
{% load stears_tags %}

{% block special_links %}
{% ifequal sUri 'http://www.stearsng.com' %}
{% include 'news/ganalytics.html' %}
{% endifequal %}
{% endblock %}

{% block meta %}
<meta name="description" content="Stears provides insight and opinion on Nigerian business, economic and financial news, including data and analysis."/>
{% endblock %}

{% block title %}Business & Economy - {{ sector|pretty_category }} | Stears{% endblock %}

{% block body %}
<head>
  <style>
  .option_{{ sector }}{
    font-weight: bolder;
  }
  </style>
</head>
<body class="w-clearfix">
  {% include 'news/news_nav.html' %}
  <div class="w-form">
    <form id="email-form" name="email-form" data-name="Email Form">
      <select class="w-select w-hidden-main w-hidden-medium sub-category-drop-down" id="Sub-Category" name="Sub-Category" data-name="Sub-Category">
        <option value="" disabled selected class="placeholder_select">{{ sector|pretty_category }}</option>
        <option class="option_stearsBusiness" value="{{ sUri }}{% url 'news:business' 'stearsBusiness' %}">Business</option>
        <option class="option_stearsGovernance" value="{{ sUri }}{% url 'news:business' 'stearsGovernance' %}">Governance</option>
        <option class="option_stearsMacroeconomy" value="{{ sUri }}{% url 'news:business' 'stearsMacroeconomy' %}">Economy</option>
        <option class="option_stearsEditorial" value="{{ sUri }}{% url 'news:business' 'stearsEditorial' %}">Editorial</option>
        <option class="option_stearsColumn"  value="{{ sUri }}{% url 'news:business' 'stearsColumn' %}">Column</option>
      </select>
    </form>
    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>
  <div class="w-row companies-row-1">
     <div class="w-col w-col-10 featured-post">
      {% if main_feature %}
      <div class="w-clearfix w-inline-block article-link-block featured-link-block nest-anchor">
        <div class="featured-post-image featured-image-container">
          <img class="featured-image" src="{% if main_feature.photoset %}{{ main_feature.photoset.photomf }}{% else %}{{ main_feature.photo }}{% endif %}" alt="">
        </div>
        <div class="featured-post-text">
          <div class="featured-post-author">{{ main_feature.writer|format_name:'long' }}</div>
          <h2><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' main_feature.article_id %}">{{ main_feature.headline }}</a></h2>
          <div class="featured-post-category">{{ main_feature.category|pretty_category }}</div>
          <p class="w-hidden-small w-hidden-tiny featured-post-p">{{ main_feature.par1|truncatechars:200 }}</p>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="w-col w-col-2 w-hidden-small w-hidden-tiny category-sidebar">
      <p class="news-in-brief-p sections-header">Sections</p>
      <ul class="w-list-unstyled sub-category-list">
        <li><a class="sub-category option_stearsBusiness" href="{{ sUri }}{% url 'news:business' 'stearsBusiness' %}">Business</a>
        </li>
        <li><a class="sub-category option_stearsGovernance" href="{{ sUri }}{% url 'news:business' 'stearsGovernance' %}">Governance</a>
        </li>
        <li><a class="sub-category option_stearsMacroeconomy" href="{{ sUri }}{% url 'news:business' 'stearsMacroeconomy' %}">Economy</a>
        </li>
        <li><a class="sub-category option_stearsEditorial" href="{{ sUri }}{% url 'news:business' 'stearsEditorial' %}">Editorial</a>
        </li>
        <li><a class="sub-category option_stearsColumn" href="{{ sUri }}{% url 'news:business' 'stearsColumn' %}">Column</a>
        </li>
      </ul>
      <p class="news-in-brief-p">Economic Data</p>
      <div class="economic-data-header">GDP Growth</div>
      <div class="economic-figures">{{ economic_data.gdp_growth }}%</div>
      <div class="economic-data-header">Unemployment</div>
      <div class="economic-figures">{{ economic_data.unemployment }}%</div>
      <div class="economic-data-header">Inflation</div>
      <div class="economic-figures">{{ economic_data.inflation }}%</div>
      <div class="economic-data-header">Interest Rate</div>
      <div class="economic-figures">{{ economic_data.interest_rates }}%</div>
    </div>
  </div>
  <div class="w-row w-hidden-main w-hidden-small w-hidden-tiny category-row-tablet">
    {% for feature in features %}
      <div class="w-col w-col-6 article-segment">
        {% if feature %}
        <div class="w-inline-block post-block nest-anchor">
          <div class="header-and-author">
            <h3 class="business-h3"><a href="{{ sUri }}{% url 'news:article' feature.article_id %}" class="target-anchor inall">{{ feature.headline }}</a></h3>
            <div class="post-block-author">{{ feature.author }}</div>
            <p class="post-summary">{{ feature.par1|truncatechars:90 }}</p>
          </div>
          <div class="w-section article-thumbnail">
            <img class="stears-thumbnail" src="{% if feature.photoset %}{{ feature.photoset.photof }}{% else %}{{ feature.photo }}{% endif %}" alt="">
          </div>
        </div>
        {% endif %}
      </div>
      {% if forloop.counter|divisibleby:2 %}
          <div class="w-hidden-main w-hidden-small w-hidden-tiny article-divider">
            <div class="w-section tablet-divider"></div>
          </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="be-container">
    <div class="w-row w-hidden-medium category-row">
      {% for feature in features %}
        <div class="w-col w-col-3 article-segment">
          {% if feature %}
          <div class="w-inline-block post-block nest-anchor">
            <div class="header-and-author">
              <h3 class="business-h3"><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' feature.article_id %}">{{ feature.headline }}</a></h3>
              <div class="post-block-author">{{ feature.writer|format_name:'long' }}</div>
              <p class="post-summary">{{ feature.par1|truncatechars:90 }}</p>
            </div>
            <div class="w-section article-thumbnail w-hidden-small ">
              <img class="stears-thumbnail" src="{% if feature.photoset %}{{ feature.photoset.photof }}{% else %}{{ feature.photo }}{% endif %}" alt="">
            </div>
            <div class="w-section article-thumbnail w-hidden-main w-hidden-tiny hidden-small">
              <img class="stears-thumbnail" src="{% if feature.photoset %}{{ feature.photoset.photomfm }}{% else %}{{ feature.photo }}{% endif %}" alt="">
            </div>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% include 'news/footer.html' %}
  <script type="text/javascript" src="/static/js/jquery1-11-1.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#Sub-Category').change(function(event){
        window.open($('#Sub-Category').val(),'_self');
      });
    });
  </script>
</body>

{% endblock %}
