{% extends 'news/news_base.html' %}

{% block title %}Business{% endblock %}

{% block body %}
<body>
  {% include 'news/news_nav.html' %}
  
    <div class="w-form">
    <form id="email-form" name="email-form" data-name="Email Form">
      <select class="w-select w-hidden-main w-hidden-medium sub-category-drop-down" id="Sub-Category" name="Sub-Category" data-name="Sub-Category">
        <option value="">Choose Section</option>
        <option value="">News In Brief</option>
        <option value="Finance">Finance</option>
        <option value="Energy">Energy </option>
        <option value="Agriculture">Agriculture</option>
        <option value="Industry">Industry</option>
        <option value="Transport">Transport</option>
        <option value="Technology">Technology</option>
      </select>
    </form>
    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>
  <div class="w-row companies-row-1">
    <div class="w-col w-col-7 featured-post featured-post-image"></div>
    <div class="w-col w-col-3 featured-post-text">
      <div class="featured-post-author">Author</div>
      <h2>{{ main_feature.headline }}</h2>
      <div class="featured-post-category">Category</div>
      <p class="w-hidden-small w-hidden-tiny featured-post-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh.</p>
    </div>
    <div class="w-col w-col-2 w-hidden-small w-hidden-tiny category-sidebar">
      <h4>Section</h4>
      <ul class="w-list-unstyled">
        <li>Finance</li>
        <li>Energy</li>
        <li>Agriculture</li>
        <li>Industry</li>
        <li>Transport</li>
        <li>Technology</li>
      </ul>
      <p class="news-in-brief-p">Or are you in a hurry?
        <br>
        <br>Check out our <strong>‘News-In-Brief’ </strong>section.</p>
    </div>
  </div>
  <div class="w-row category-row">
    {% for article in business_posts reversed %}
    <div class="w-col w-col-3 article-segment">
      <div class="header-and-author">
        <h3 class="business-h3">{{ article.headline }}</h3>
        <div>{{ article.writer }}</div>
      </div>  
      <div class="w-section article-thumbnail"></div>
    </div>
    {% endfor %}
  </div>
  {% include 'news/footer.html' %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
{% endblock %}