{% extends 'news/news_base.html' %}
{% load news_tags %}

{% block title %}Business{% endblock %}

{% block body %}
<body>
  {% include 'news/news_nav.html' %}
  <div class="w-form">
    <form id="email-form" name="email-form" data-name="Email Form">
      <select class="w-select w-hidden-main w-hidden-medium sub-category-drop-down" id="Sub-Category" name="Sub-Category" data-name="Sub-Category">
        <option value="">Choose Section</option>
        <option value="NIB">News In Brief</option>
        <option value="Finance">Finance</option>
        <option value="Energy">Energy </option>
        <option value="Agriculture">Agriculture</option>
        <option value="Industry">Industry</option>
        <option value="Transport">Transport</option>
        <option value="Technology">Technology</option>
      </select>
    </form>
    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>
  <div class="w-row companies-row-1">
    <div class="w-col w-col-10 featured-post">
      <a class="w-clearfix w-inline-block article-link-block" href="#">
        <div class="featured-post-image"></div>
        <div class="featured-post-text">
          <div class="featured-post-author">{{ main_feature.writer }}</div>
          <h2>{{ main_feature.headline }}</h2>
          <div class="featured-post-category">{{ main_feature.category }}</div>
          <p class="w-hidden-small w-hidden-tiny featured-post-p">
            {{ bmf_summary|truncatechars:210 }}
          </p>
        </div>
      </a>
    </div>
    <div class="w-col w-col-2 w-hidden-small w-hidden-tiny category-sidebar">
      <h4>Section</h4>
      <ul class="w-list-unstyled sub-category-list">
        <li><a class="sub-category" href="#">Finance</a>
        </li>
        <li><a class="sub-category" href="#">Energy</a>
        </li>
        <li><a class="sub-category" href="#">Agriculture</a>
        </li>
        <li><a class="sub-category" href="#">Industry</a>
        </li>
        <li><a class="sub-category" href="#">Transport</a>
        </li>
        <li><a class="sub-category" href="#">Technology</a>
        </li>
      </ul>
      <p class="news-in-brief-p">Or are you in a hurry?
        <br>
        <br>Check out our <strong><a class="sub-category nib-link" href="#">‘News-In-Brief’ </a></strong>section.</p>
    </div>
  </div>
  {% for i in '0246' %}
  {% with i|add:'1' as j %}
  <div class="w-row w-hidden-main w-hidden-small w-hidden-tiny category-row-tablet">
    {% with business_posts|array_list:i as post %}
    <div class="w-col w-col-6 article-segment">
      <a class="w-inline-block post-block" href="#">
        <div class="header-and-author">
          <h3 class="business-h3">{{ post.headline }}</h3>
          <div class="post-block-author">{{ post.writer }}</div>
        </div>
        <div class="w-section article-thumbnail"></div>
      </a>
    </div>
    {% endwith %}
    {% with business_posts|array_list:j as post %}
    <div class="w-col w-col-6 article-segment">
      <a class="w-inline-block post-block" href="#">
        <div class="header-and-author">
          <h3 class="business-h3">{{ post.headline }}</h3>
          <div class="post-block-author">{{ post.writer }}</div>
        </div>
        <div class="w-section article-thumbnail"></div>
      </a>
    </div>
    {% endwith %}
  </div>
  {% endwith %}
  {% endfor %}
  

  <div class="w-row w-hidden-medium category-row">
    {% for i in '0123' %}
    {% with business_posts|array_list:i as post %}
    <div class="w-col w-col-3 article-segment">
      <a class="w-inline-block post-block" href="#">
        <div class="header-and-author">
          <h3 class="business-h3">{{ post.headline }}</h3>
          <div class="post-block-author">{{ post.writer }}</div>
        </div>
        <div class="w-section article-thumbnail"></div>
      </a>
    </div>
    {% endwith %}
    {% endfor %}
  </div>
  <div class="w-row w-hidden-medium category-row">
    {% for i in '4567' %}
    {% with business_posts|array_list:i as post %}
    <div class="w-col w-col-3 article-segment">
      <a class="w-inline-block post-block" href="#">
        <div class="header-and-author">
          <h3 class="business-h3">{{ post.headline }}</h3>
          <div class="post-block-author">{{ post.writer }}</div>
        </div>
        <div class="w-section article-thumbnail"></div>
      </a>
    </div>
    {% endwith %}
    {% endfor %}
  </div>
   {% include 'news/footer.html' %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
{% endblock %}