    <div class="bbcontainer">
      <div class="byebanner">
        <div class="bbcontent">
          <h2>
            Stears is currently redesigning and upgrading it's website. There will be no new articles until March 2016. Please <a class="follow-us-intent" href="https://twitter.com/intent/follow?screen_name=@stearsng" target="_blank">follow us on twitter</a> for more updates. Please also <a href="http://eepurl.com/bMHigr">give us your email </a>for updates.
          </h2>
        </div>
      </div>
    </div>