{% extends 'news/news_base.html' %}
{% load category %}
{% load name %}
{% load compress %}

{% block special_links %}
{% ifequal sUri 'http://www.stearsng.com' %}
{% include 'news/ganalytics.html' %}
{% endifequal %}
{% endblock %}

{% block special_styles %}
<link rel="stylesheet" href="/static/css/news/column.css">
{% endblock %}

{% block title %}Opinion | Stears{% endblock %}

{% block meta %}
<meta name="description"           content="{{ article.summary }}"/>
<meta property="og:url"            content="{{ aUri }}" />
<meta property="og:type"           content="article" />
<meta property="og:title"          content="{{ article.headline }}" />
<meta property="og:description"    content="{{ article.summary }} - in {{ column.title }}" />
<meta property="og:image"          content="http://www.stearsng.com{{ article.photo }}"/>
<meta property="article:publisher" content="https://www.facebook.com/stearsng"/>
<meta property="fb:app_id"         content="457339461112605" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@stearsng">
<meta name="twitter:url" content="{{ aUri }}">
<meta name="twitter:creator" content="@stearsng">
<meta name="twitter:title" content="{{ article.headline }}">
<meta name="twitter:description" content="{{ article.summary }} - in {{ column.title }}">
<meta name="twitter:image" content="http://www.stearsng.com{{ article.photo }}">
{% endblock %}

{% block body %}
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '457339461112605',
          xfbml      : true,
          version    : 'v2.4'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    {% include 'news/opinion_nav.html' %} 
    <div class="cp-background">
      <div class="cp-container p-slide" {% if first_visit %}{% else %}hidden{% endif %}>
        <div class="cposter hoverable">
          <div class="cp-content">
            <div class="cp-heading">
              <h1 class="cp-title">
              {{ column.title }}
              </h1>
            </div>
            <div class="cp-divider"></div>
            <div class="cp-stears" hidden>
              <h1 class="cps">
              {{ column.writer|name:'long' }}
              </h1>
            </div>
            <div class="cp-description" >
              <h4 class="cpd-text">
              {{ column.description }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sticky-anchor"></div>
    <div class="mini-cp-container sticky">
      <div class="mcslider p-slide hoverable">
        <div class="sticky-logo">
          <img class="sticky-stears-logo" src="/static/images/StearsBetaComplete.svg">
        </div>
        <h3 class="mcs-text {% if first_visit %}{% else %}white_text{% endif %}">
          <font class="mcs-title">{{ column.title }}</font><font class="mcs-author"> by {{ column.writer|name:'long' }}</font>
        </h3>
      </div>
    </div>  
    <div class="c-container">
      <div class="c-body">
        <div class="cb-page">
          <div class="cb-heading">

          </div>
          <div class="cb-left">
            <div class="l-container">
              <div class="l-headline">
                <div class="lh-text">
                  <h2 class="lh-h2">
                    {{ article.headline }}
                  </h2>
                </div>
              </div>
              <div class="l-body">
                {% if first_visit %}
                <div class="share_block">
                  {% include 'news/share_block.html' %}
                </div>
                <div id="preview-article" class="lb-text article-paragraph" >
                  {% autoescape off %}
                  {{ preview }}
                  {% endautoescape %}
                </div>
                <div class="kr-text">
                    <a href="#" class="krt"><p class="krt-text">Continue reading {{ article.headline }}</p></a>
                </div>
                <div id="full-article" class="lb-text article-paragraph" hidden>
                  {% autoescape off %}
                  {{ article.content }}
                  {% endautoescape %}
                </div>
                {% else %}
                <img src="{{ article.photo }}" class="article-page-image" alt="{{ article.headline }}">
                <div class="share_block">
                  {% include 'news/share_block.html' %}
                </div>
                <div id="preview-article" class="lb-text article-paragraph" hidden>
                  {% autoescape off %}
                  {{ preview }}
                  {% endautoescape %}
                </div>
                <div id="full-article" class="lb-text article-paragraph">
                  {% autoescape off %}
                  {{ article.content }}
                  {% endautoescape %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="cb-right">
            <div class="ab-container">
              <div class="author-block">
                <div class="ab-section section1">
                  <div class="abp-holder">
                    <img src="{{ column.photo }}" alt="" class="ab-pic">
                  </div>
                  <div class="ab-text">
                    <h3 class="ab-h3">
                      {{ column.writer|name:'long' }}
                    </h3>
                  </div>
                </div>
                <div class="ab-section section2">
                  <div class="bio">
                    <p class="bio-text">
                      {{ column.bio }}
                    </p>
                  </div>
                </div>
                <div class="ab-section section3">
                  <div class="ab-profiles">
                      {% if column.linkedin %}
                      <a href="{{ column.linkedin }}" target="_blank" class="abp-link">
                        <div class="abp ab-linkedin">
                        <div class="abp-social">
                          <img class=" abp-linkedin abp-icon" src="/static/images/linkedin-icon.svg" width="19">
                        </div>
                        <p class="abp-text">
                          Contact me on Linkedin
                        </p>
                        </div>
                      </a>
                      {% endif %}
                    
                      {% if column.twitter %}
                      <a href="https://twitter.com/intent/follow?screen_name={{ column.twitter }}" target="_blank" class="abp-link">
                        <div class="abp ab-twitter">
                        <div class="abp-social">
                          <img class=" abp-icon" src="/static/images/twitter-icon.svg" width="17">
                        </div>
                        <p class="abp-text">
                          Follow me on twitter
                        </p>
                        </div>
                      </a>
                      {% endif %}

                      {% if column.blog %}
                      <a href="{{ column.blog }}" target="_blank" class="abp-link">
                        <div class="abp ab-blog">
                        <div class="abp-social">
                          <img class=" abp-icon abp-blogger" src="/static/images/blogger-icon.svg" width="17">
                        </div>
                        <p class="abp-text">
                          Visit my blog
                        </p>
                        </div>
                      </a>
                      {% endif %}
                      
                      {% if column.email %}
                      <a href="mailto:{{ column.email }}?Subject=Your Stears opinion page" target="_top" class="abp-link">
                        <div class="abp ab-email">
                        <div class="abp-social">
                          <img class=" abp-icon" src="/static/images/iconmonstr-email-4-icon.svg" width="22">
                        </div>
                        <p class="abp-text">
                          Email me at {{ column.email }}
                        </p>
                        </div>
                      </a>
                      {% endif %}
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-body2">
        <div class="cb-page2">
          <div class="cb2">
            <div class="rn-articles">
              <div class="rn-heading" hidden>
                <div class="rnh3-container">
                  <h3 class="rn-h3">
                    More from Thinking Economics
                  </h3>
                </div>
              </div>
              <div class="rn-container">
                {% for feature in others %}
                <a href="{% url 'news:column' column_id=column.column_id pk=feature.article_id %}" class='no-styles'>
                  <div class="post-block rn-article">
                    <div class="rn-content">
                      <div class="header-and-author">
                        <div class="clock-cat">
                          <div class="ac-feature">{{ feature.category|category }}</div>
                          {% if feature.posted %}
                            <div class="clock-time-small">
                              <img src="/static/images/clock.svg" alt="" class="clock-small">
                              <p class="time-small">{{ feature.posted|date:"M d, Y" }}</p>
                            </div>
                          {% endif %}
                        </div>
                        <h3 class="business-h3">{{ feature.headline }}</h3>
                        <div class="post-block-author">{{ feature.writer|name:'long' }}</div>
                        <p class="post-summary">{{ feature.summary }}</p>
                      </div>
                    </div>
                    <div class="rn-photo">
                      <img class="rnp" src="{{ feature.photo }}" alt="">
                    </div>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'news/footer.html' %}
  </body>
{% endblock %}

{% block dynamic_static_body %}
  {% compress js inline %}
  <script defer src="/static/js/news/news.js"></script>
  {% endcompress %}
  <script>
  $(document).ready(function(){
      $('.fb-stears-share').click(function(event){
          event.preventDefault();
          FB.ui({
            method: 'share',
            href: '{{ aUri }}',
          }, function(response){});
      });
  });
  function sticky_relocate() {
      var window_top = $(window).scrollTop();
      var div_top = $('#sticky-anchor').offset().top;
      if (window_top > div_top) {
          $('.sticky').addClass('stick');
          $('.mcs-text').addClass('display');
          $('.c-container').css({'margin-top': '45px'});
      } else {
          $('.sticky').removeClass('stick');
          $('.mcs-text').removeClass('display');
          $('.c-container').css({'margin-top': '0px'});
      }
  }

  $(function () {
      $(window).scroll(sticky_relocate);
      sticky_relocate();
  });

  $(document).ready(function(){
    $(".p-slide").click(function(){
      if($(".sticky").hasClass("stick")){
        $("html, body").animate({ scrollTop: 0 }, "slow");
      }else{
        // $(".cp-container").slideToggle(500);
      }

    });

    $(".krt").click(function(){
      $("#preview-article").hide();
      $("#full-article").show();
      $(".kr-text").hide();
    });
  });
  </script>
{% endblock %}