<div class="w-section w-clearfix footer">
  <div class="footer-container">
    <div class="w-clearfix footer-nav">
      <a class="w-clearfix w-inline-block social-link-block" href="https://twitter.com/intent/follow?screen_name=@stearsng">
        <div class="footer-social">
          <div class="footer-title"><strong>Follow us on Twitter</strong></div>
          <img class="twitter-icon" src="/static/images/twitter-icon.svg" width="15">
        </div>
      </a>
      <div class="footer-links-container">
        <a class="footer-links" href="{{ sUri }}{% url 'news:index' %}">Home</a>
        <a class="footer-links" href="{{ sUri }}{% url 'news:business' 'stearsMacroeconomy' %}">Business &amp; Economy</a>
        <a class="footer-links" href="{{ sUri }}{% url 'news:reports' %}">Market Reports</a>
      </div>
    </div>
    <p class="contact-us">
      <strong>Contact us: </strong>Email Abdul at abdul.zakariya@stearsng.com
    </p>
    <p class="copyright">Copyright © 2015. Stears Partnership. All rights reserved</p>
    <br>
    <a class="w-inline-block footer-link-block" href="{{ sUri }}{% url 'news:index' %}"><img src="/static/images/StearsBetaComplete.svg" width="70" alt="Stears Home">
    </a>
  </div>
</div>