<html>
	<head>
		<meta charset="utf-8"><title>Articles - Stears</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/foundation.css">
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/news/news.css">
		<style type="text/css"></style>
	</head>
	<body class="news">
		<div class="row fill news-top-section">
			<div class="columns small-12 ">
				<div class="row news-ss-bar">
					<div class="columns small-12 medium-8 " style="height:100%;">
						<div class="row fill" >
							<div class="columns small-12 medium-9 medium-offset-3 news-searchside-column" style="padding:0px;">
								<form id="news-search-form" class="inherit-height" name="search-form" data-name="Search Form" style="padding:0px;">
									<div style="display:inline-block;">
										<img class="news-search-icon" src="http://uploads.webflow.com/54d15d04624a64834599eee8/54d27522bba289360a8cc876_search19.svg" width="22" alt="54d27522bba289360a8cc876_search19.svg">
									</div>
									<div class="news-search-bar inherit-height">
										<input id="search-input" type="text" placeholder="Enter your search term here" name="name" data-name="Name">
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="columns small-12 medium-4 news-socialside-column">
						<div class="social-icon">
							<img class="facebook-icon" src="http://uploads.webflow.com/54d15d04624a64834599eee8/54d264eda59e05340ae1fb74_facebook12.svg" width="6" alt="54d264eda59e05340ae1fb74_facebook12.svg">
						</div>
						<div class="social-icon">
							<img class="twitter-icon " src="http://uploads.webflow.com/54d15d04624a64834599eee8/54d265fa0d5fbeb671afe3f1_social19.svg" width="12" alt="54d265fa0d5fbeb671afe3f1_social19.svg">
						</div>
						<div class="social-icon">
							<img class="linkedin-icon " src="http://uploads.webflow.com/54d15d04624a64834599eee8/54d26e39a59e05340ae1fe23_linkedin11.svg" width="14" alt="54d26e39a59e05340ae1fe23_linkedin11.svg">
						</div>
						<div class="social-icon">
							<img class="rss-icon " src="http://uploads.webflow.com/54d15d04624a64834599eee8/54d27c22a59e05340ae1ffce_social23.svg" width="12" alt="54d27c22a59e05340ae1ffce_social23.svg">
						</div>
					</div>
				</div>
				<div class="row news-n-bar">
					<div class="row small-12 columns large-5 medium-9 small-offset-0 medium-offset-3 large-offset-7">
						<div class="news-nav-links">
							<a class="news-nav-text" href="#">
								<strong>Home</strong>
							</a>
							<a class="news-nav-text" href="#">
								<strong>Business</strong>
							</a>
							<a class="news-nav-text" href="#">
								<strong>Markets</strong>
							</a>
							<a class="news-nav-text" href="#">
								<strong>Economy</strong>
							</a>
							<a class="news-nav-text" href="#">
								<strong>StearsTalk</strong>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row fill news-photo-section">
			<div class="columns small-11 small-centered">
				<div class="row fill">
					<div class="columns small-12 large-8 " style="padding:2px;">
						<div class="main-article">
							
						</div>
						<br>
					</div>
					<div class="columns small-12 medium-12 large-4 " style="padding:2px;">
						<div class="market-snapshot">
							
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
		<div class="row fill news-photo-section" style="padding:0px;">
			<div class="columns small-11 small-centered">
				<div class="row fill">
					<div class="columns small-12 small-centered medium-uncentered medium-4 medium-push-8 article-markets" >
						<div class="gainers-card fill">
							<div class="row">
								<div class="columns small-12">
									<div class="gainers-header"><div>Gainers</div></div>
									<br>
									<div class="gainers-row row">
										<div class="columns small-7">
											<strong>Dangote Corp</strong>
										</div>
										<div class="gainers-stock-price columns small-5">
											<div>1349 <em>(+1.76%)</em></div>
										</div>
									</div>
									<div class="gainers-row row">
										<div class="columns small-7">
											<strong>Dangote Corp</strong>
										</div>
										<div class="gainers-stock-price columns small-5">
											<div>1349 <em>(+1.76%)</em></div>
										</div>
									</div>
									<div class="gainers-row row">
										<div class="columns small-7">
											<strong>Dangote Corp</strong>
										</div>
										<div class="gainers-stock-price columns small-5">
											<div>1349 <em>(+1.76%)</em></div>
										</div>
									</div>
									<div class="gainers-row row">
										<div class="columns small-7">
											<strong>Dangote Corp</strong>
										</div>
										<div class="gainers-stock-price columns small-5">
											<div>1349 <em>(+1.76%)</em></div>
										</div>
									</div>
									<div class="gainers-row row">
										<div class="columns small-7">
											<strong>Dangote Corp</strong>
										</div>
										<div class="gainers-stock-price columns small-5">
											<div>1349 <em>(+1.76%)</em></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="columns small-12 small-centered medium-uncentered medium-8 medium-pull-4 article-markets">
						<div class="front-article">
							<h2>
							An Introspective look at something interesting to talk about
							</h2>
							<p>
							Donec vitae elementum justo. Nullam fringilla, sapien ac feugiat mollis, diam velit consequat mi, nec sodales massa purus ac eros. Vestibulum nec odio sed diam interdum cursus. Maecenas efficitur sagittis condimentum. Duis nec faucibus nunc, nec malesuada eros. Sed vulputate tellus iaculis enim bibendum gravida.
							</p>
						</div>
					</div>
				</div>
			</div>
			<script src="/static/js/foundation.min.js"></script>
			<script>
			$(document).foundation();
			</script>
		</body>
	</html>