{% extends 'news/news_base.html' %}
{% load category %}
{% load name %}
{% load compress %}

{% block special_links %}
  {% ifequal sUri 'http://www.stearsng.com' %}
    {% include 'news/ganalytics.html' %}
  {% endifequal %}
{% endblock %}

{% block meta %}
<meta name="description" content="{{ meta_description }}"/>
<meta property="og:url"           content="http://www.stearsng.com" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Stears News | Homepage" />
<meta property="og:description"   content="{{ meta_description }}"/>
<meta property="og:image"         content="http://www.stearsng.com/static/images/StearsBetaComplete.svg"/>

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@stearsng" />
<meta name="twitter:title" content="Stears News | Homepage" />
<meta name="twitter:description" content="{{ meta_description }}" />
{% endblock %}

{% block title %}Stears News | Homepage{% endblock %}
{% block body %}
  <body class="w-clearfix">
    {% include 'news/news_nav.html' %}
    <div class="w-hidden-main w-hidden-medium w-clearfix mobile-homepage">
      {% if main_feature %}
        <div class="w-inline-block article-link-block link-block-main nest-anchor">
          <div class="w-hidden-tiny w-section main-article featured-image-container">
            <img class="featured-image" src="{% if main_feature.photoset %}{{ main_feature.photoset.photomf }}{% else %}{{ main_feature.photo }}{% endif %}" alt="">
            <div class="w-section main-article-content">
              <h1 class="main-article-h1"><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' main_feature.article_id %}">{{ main_feature.headline }}</a></h1>
              <div class="article-author aa-main">{{ main_feature.writer|name:'long' }}</div>
              <div class="clock-cat-main">
                <div class="article-category ac-main">{{ main_feature.category|category }}</div>
                {% if main_feature.posted %}
                <div class="clock-time-small cts-main">
                  <img src="/static/images/clock.svg" alt="" class="clock-small">
                  <p class="time-small">{{ main_feature.posted|date:"M d, Y" }}</p>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="w-hidden-small w-section main-article featured-image-container">
            <img class="featured-image" src="{% if main_feature.photoset %}{{ main_feature.photoset.photomf }}{% else %}{{ main_feature.photo }}{% endif %}" alt="">
            <div class="w-section main-article-content">
              <h1 class="main-article-h1"><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' main_feature.article_id %}">{{ main_feature.headline }}</a></h1>
              <div class="article-author aa-main">{{ main_feature.writer|name:'long' }}</div>
              <div class="clock-cat-main">
                <div class="article-category ac-main">{{ main_feature.category|category }}</div>
                {% if main_feature.posted %}
                <div class="clock-time-small cts-main">
                  <img src="/static/images/clock.svg" alt="" class="clock-small">
                  <p class="time-small">{{ main_feature.posted|date:"M d, Y" }}</p>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="w-clearfix column-and-report-widget">
        {% if column %}
          <div class="w-clearfix w-inline-block article-link-block widget-link-block nest-anchor">
            <div class="w-hidden-main daily-column-widget">
              <h2 class="daily-column-h2">Weekly Column</h2>
              <div class="daily-column-secondary-header">
                <div class="daily-column-secondary-header">
                  <h4 class="daily-column-byline">{{ column.column_title }}</h4>
                </div>
              </div>
              <div class="daily-column-widget-text">
                <h3 class="daily-column-widget-h3"><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' column.article_id %}">{{ column.headline }}</a></h3>
              </div>
            </div>
          </div>
          <div class="w-row w-hidden-medium w-hidden-small w-hidden-tiny daily-column-widget">
            <div class="w-col w-col-5 daily-column-title">
              <h2 class="daily-column-h2">Weekly Column</h2>
              <h4 class="daily-column-byline">{{ column.column_title }}</h4>
            </div>
            <div class="w-col w-col-7 daily-column-widget-text">
              <h3>{{ column.headline }}</h3>
              <p>
                {% if column.summary %}
                  {{ column.summary|truncatechars:'200' }}
                {% else %}
                  {{ daily_column_summary|truncatechars:'200' }}
                {% endif %}
              </p>
            </div>
          </div>
        {% endif %}
        <a class="w-clearfix article-link-block widget-link-block-2" href="{{ sUri }}{% url 'news:reports' %}">
          <div class="w-clearfix stearsreport-widget">
            <div class="stearsreport-widget-logo">
              <h3 class="daily-column-h2 stearsreport-widget-h4">Stears
                <font class="stearsreport-report">Report</font></h3>
            </div>
          </div>
        </a>
      </div>
      <div class="second-row-container">
        <div class="w-section secondary-article">
          {% if secondary %}
            <div class="w-inline-block article-link-block nest-anchor">
              <div class="w-row">
                <div class="w-col w-col-5 w-col-medium-6 secondary-article-text">
                  <div class="secondary-header-and-author">
                    <div class="clock-cat">
                      <div class="article-category">{{ secondary.category|category }}</div>
                      {% if secondary.posted %}
                      <div class="clock-time-small">
                        <img src="/static/images/clock.svg" alt="" class="clock-small">
                        <p class="time-small">{{ secondary.posted|date:"M d, Y" }}</p>
                      </div>
                      {% endif %}
                    </div>
                    <h2 class="secondary-h2"><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' secondary.article_id %}">{{ secondary.headline }}</a></h2>
                    <div class="article-author">{{ secondary.writer|name:'long' }}</div>
                    <p class="post-summary">{{ secondary.par1|truncatechars:110 }}</p>
                  </div>
                </div>
                <div class="w-col w-col-7 w-col-medium-6 secondary-article-img">
                  <img class="secondary-photo" src="{% if secondary.photoset %}{{ secondary.photoset.photomfm }}{% else %}{{ secondary.photo }}{% endif %}" alt="">
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="w-section third-article-section">
          <div class="w-row third-article-segment">
            <div class="w-col w-col-7 w-col-medium-6 w-col-small-6 w-col-tiny-6 third-article-row-col1">
              {% if tertiaries.0 %}
                <div class="w-inline-block article-link-block all-text-article nest-anchor">
                  <div class="clock-cat">
                    <div class="article-category">{{ tertiaries.0.category|category }}</div>
                    {% if tertiaries.0.posted %}
                    <div class="clock-time-small">
                      <img src="/static/images/clock.svg" alt="" class="clock-small">
                      <p class="time-small">{{ tertiaries.0.posted|date:"M d, Y" }}</p>
                    </div>
                    {% endif %}
                  </div>
                  <h3><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' tertiaries.0.article_id %}">{{ tertiaries.0.headline }}</a></h3>
                  <div class="article-author">{{ tertiaries.0.writer|name:'long' }}</div>
                  <p class="all-text-article-p">{{ tertiaries.0.par1|truncatechars:110 }}</p>
                </div>
              {% endif %}
            </div>
            <div class="w-col w-col-5 w-col-medium-6 w-col-small-6 w-col-tiny-6 third-article-row-col2">
              {% if tertiaries.1 %}
                <div class="w-inline-block article-link-block mini-article-segment nest-anchor">
                  <div class="clock-cat">
                    <div class="article-category">{{ tertiaries.1.category|category }}</div>
                    {% if tertiaries.1.posted %}
                    <div class="clock-time-small">
                      <img src="/static/images/clock.svg" alt="" class="clock-small">
                      <p class="time-small">{{ tertiaries.1.posted|date:"M d, Y" }}</p>
                    </div>
                    {% endif %}
                  </div>
                  <h4><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' tertiaries.1.article_id %}">{{ tertiaries.1.headline }}</a></h4>
                  <div class="article-author mini-article-author">{{ tertiaries.1.writer|name:'long' }}</div>
                </div>
              {% endif %}
              <div class="w-section mini-segment-horizontal-border"></div>
              {% if tertiaries.2 %}
                <div class="w-inline-block article-link-block mini-article-segment nest-anchor">
                  <div class="clock-cat">
                    <div class="article-category">{{ tertiaries.2.category|category }}</div>
                    {% if tertiaries.2.posted %}
                    <div class="clock-time-small">
                      <img src="/static/images/clock.svg" alt="" class="clock-small">
                      <p class="time-small">{{ tertiaries.2.posted|date:"M d, Y" }}</p>
                    </div>
                    {% endif %}
                  </div>
                  <h4><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' tertiaries.2.article_id %}">{{ tertiaries.2.headline }}</a></h4>
                  <div class="article-author mini-article-author">{{ tertiaries.2.writer|name:'long' }}</div>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="w-clearfix goodmusicftbigsean">
            <div class="maybachmusic"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-section w-clearfix first-row-home">
      <div class="main-container">
        <div class="w-hidden-small w-hidden-tiny column-and-report-widget">
          {% if column %}
            <div class="w-inline-block article-link-block dc-link-block nest-anchor">
              <div class="w-hidden-main daily-column-widget">
                <h2 class="daily-column-h2">Weekly Column</h2>
                <div class="daily-column-secondary-header">
                  <h4 class="daily-column-byline">{{ column.column_title }}</h4>
                </div>
                <div class="daily-column-widget-text">
                  <h3><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' column.article_id %}">{{ column.headline }}</a></h3>
                </div>
              </div>
              <div class="w-row w-hidden-medium w-hidden-small w-hidden-tiny daily-column-widget">
                <div class="w-col w-col-5 daily-column-title">
                  <h3 class="daily-column-h2">Weekly Column</h3>
                  <h4 class="daily-column-byline">{{ column.column_title }}</h4>
                </div>
                <div class="w-col w-col-7 daily-column-widget-text">
                  <h4><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' column.article_id %}">{{ column.headline }}</a></h4>
                  <p>
                    {% if column.summary %}
                      {{ column.summary|truncatechars:'200' }}
                    {% else %}
                      {{ daily_column_summary|truncatechars:'200' }}
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
          <a class="w-clearfix article-link-block widget-link-block" href="{{ sUri }}{% url 'news:reports' %}">
            <div class="w-clearfix stearsreport-widget">
              <div class="stearsreport-widget-logo">
                <h3 class="daily-column-h2 stearsreport-widget-h4">Stears
                  <font class="stearsreport-report">Report</font></h3>
              </div>
              <h4 class="w-hidden-medium w-hidden-small w-hidden-tiny stearsreport-widget-h3">Market Report - {{ report.date }}</h4>
              <div class="w-hidden-medium w-hidden-small w-hidden-tiny stearsreport-widget-text">By {{ report.author|name:'long' }}</div>
            </div>
          </a>
        </div>
        {% if main_feature %}
          <div class="w-clearfix w-inline-block article-link-block link-block-main nest-anchor">
            <div class="w-hidden-small w-hidden-tiny main-article featured-image-container">
              <img class="featured-image" src="{% if main_feature.photoset %}{{ main_feature.photoset.photomf }}{% else %}{{ main_feature.photo }}{% endif %}" alt="">
              <div class="w-section main-article-content">
                <h1 class="main-article-h1"><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' main_feature.article_id %}">{{ main_feature.headline }}</a></h1>
                <div class="article-author aa-main">{{ main_feature.writer|name:'long' }}</div>
                <div class="clock-cat-main">
                  <div class="article-category ac-main">{{ main_feature.category|category }}</div>
                  {% if main_feature.posted %}
                  <div class="clock-time-small cts-main">
                    <img src="/static/images/clock.svg" alt="" class="clock-small">
                    <p class="time-small">{{ main_feature.posted|date:"M d, Y" }}</p>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="secondary-container">
      <div class="w-section horizontal-border"></div>
      <div class="second-row-col1">
        {% if secondary %}
          <div class="w-hidden-small w-hidden-tiny w-inline-block article-link-block article-link-secondary nest-anchor">
            <div class="secondary-article">
              <div class="w-row">
                <div class="w-col w-col-5 w-col-stack secondary-article-text">
                  <div class="secondary-header-and-author">
                    <div class="clock-cat">
                      <div class="article-category">{{ secondary.category|category }}</div>
                      {% if secondary.posted %}
                      <div class="clock-time-small">
                        <img src="/static/images/clock.svg" alt="" class="clock-small">
                        <p class="time-small">{{ secondary.posted|date:"M d, Y" }}</p>
                      </div>
                      {% endif %}
                    </div>
                    <h2><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' secondary.article_id %}">{{ secondary.headline }}</a></h2>
                    <div class="article-author">{{ secondary.writer|name:'long' }}</div>
                    <p class="post-summary">{{ secondary.par1|truncatechars:110 }}</p>
                  </div>
                </div>
                <div class="w-col w-col-7 w-col-stack secondary-article-img">
                  <img class="secondary-photo" src="{% if secondary.photoset %}{{ secondary.photoset.photomfm }}{% else %}{{ secondary.photo }}{% endif %}" alt="">
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="w-section w-hidden-small w-hidden-tiny third-article-section">
        <div class="w-row third-article-segment">
          <div class="w-col w-col-7 w-col-medium-6 w-col-small-6 w-col-tiny-6 third-article-row-col1">
            {% if tertiaries.0 %}
              <div class="w-inline-block article-link-block nest-anchor">
                <div class="daily-column-header-and-author">
                  <div class="clock-cat">
                    <div class="article-category">{{ tertiaries.0.category|category }}</div>
                    {% if tertiaries.0.posted %}
                    <div class="clock-time-small">
                      <img src="/static/images/clock.svg" alt="" class="clock-small">
                      <p class="time-small">{{ tertiaries.0.posted|date:"M d, Y" }}</p>
                    </div>
                    {% endif %}
                  </div>
                  <h3><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' tertiaries.0.article_id %}">{{ tertiaries.0.headline }}</a></h3>
                  <div class="article-author">{{ tertiaries.0.writer|name:'long' }}</div>
                </div>
                <p class="all-text-article-p">{{ tertiaries.0.par1|truncatechars:110 }}</p>
              </div>
            {% endif %}
          </div>
          <div class="w-col w-col-5 w-col-medium-6 w-col-small-6 w-col-tiny-6 third-article-row-col2">
            <div class="w-section mini-article-segment">
              {% if tertiaries.1 %}
                <div class="w-inline-block article-link-block nest-anchor">
                  <div class="clock-cat">
                    <div class="article-category">{{ tertiaries.1.category|category }}</div>
                    {% if tertiaries.1.posted %}
                    <div class="clock-time-small">
                      <img src="/static/images/clock.svg" alt="" class="clock-small">
                      <p class="time-small">{{ tertiaries.1.posted|date:"M d, Y" }}</p>
                    </div>
                    {% endif %}
                  </div>
                  <h4><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' tertiaries.1.article_id %}">{{ tertiaries.1.headline }}</a></h4>
                  <div class="article-author mini-article-author">{{ tertiaries.1.writer|name:'long' }}</div>
                </div>
              {% endif %}
            </div>
            <div class="w-section mini-segment-horizontal-border"></div>
            <div class="w-section mini-article-segment">
              {% if tertiaries.2 %}
                <div class="w-inline-block article-link-block nest-anchor">
                  <div class="clock-cat">
                    <div class="article-category">{{ tertiaries.2.category|category }}</div>
                    {% if tertiaries.2.posted %}
                    <div class="clock-time-small">
                      <img src="/static/images/clock.svg" alt="" class="clock-small">
                      <p class="time-small">{{ tertiaries.2.posted|date:"M d, Y" }}</p>
                    </div>
                    {% endif %}
                  </div>
                  <h4><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' tertiaries.2.article_id %}">{{ tertiaries.2.headline }}</a></h4>
                  <div class="article-author mini-article-author">{{ tertiaries.2.writer|name:'long' }}</div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="w-section horizontal-border bottom-border"></div>
      <div class="w-section quote-section">
        <h2 class="quote-h2"><em>"{{ quote.body }}"</em></h2>
        <div class="article-author">{{ quote.author }}</div>
      </div>
    </div>
    <div class="w-section features">
      <div class="features-container">
        <h1 class="features-h1">Features</h1>
        <div class="w-row w-hidden-main category-row">
          {% for feature in features %}
            <div class="w-col w-col-6 w-col-small-6 article-segment">
              {% if feature %}
                <div class="w-inline-block post-block nest-anchor">
                  <div class="header-and-author">
                    <div class="clock-cat">
                      <div class="article-category">{{ feature.category|category }}</div>
                      {% if feature.posted %}
                      <div class="clock-time-small">
                        <img src="/static/images/clock.svg" alt="" class="clock-small">
                        <p class="time-small">{{ feature.posted|date:"M d, Y" }}</p>
                      </div>
                      {% endif %}
                    </div>
                    <h3 class="business-h3"><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' feature.article_id %}">{{ feature.headline }}</a></h3>
                    <div class="post-block-author">{{ feature.writer|name:'long' }}</div>
                    <p class="post-summary">{{ feature.par1|truncatechars:110 }}</p>
                  </div>
                  <div class="w-section article-thumbnail">
                    <img class="stears-thumbnail" src="{% if feature.photoset %}{{ feature.photoset.photof }}{% else %}{{ feature.photo }}{% endif %}" alt="">
                  </div>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="w-row w-hidden-medium w-hidden-small w-hidden-tiny category-row">
          {% for feature in features %}
            <div class="w-col w-col-3 article-segment">
              {% if feature %}
                <div class="w-inline-block post-block nest-anchor">
                  <div class="header-and-author">
                    <div class="clock-cat">
                      <div class="article-category">{{ feature.category|category }}</div>
                      {% if feature.posted %}
                      <div class="clock-time-small">
                        <img src="/static/images/clock.svg" alt="" class="clock-small">
                        <p class="time-small">{{ feature.posted|date:"M d, Y" }}</p>
                      </div>
                      {% endif %}
                    </div>
                    <h3 class="business-h3"><a class="target-anchor inall" href="{{ sUri }}{% url 'news:article' feature.article_id %}"></a>{{ feature.headline }}</h3>
                    <div class="post-block-author">{{ feature.writer|name:'long' }}</div>
                    <p class="post-summary">{{ feature.par1|truncatechars:110 }}</p>
                  </div>
                  <div class="w-section article-thumbnail">
                    <img class="stears-thumbnail" src="{% if feature.photoset %}{{ feature.photoset.photof }}{% else %}{{ feature.photo }}{% endif %}" alt="">
                  </div>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    {% include 'news/footer.html' %}
  </body>
{% endblock %}

{% block dynamic_static_body %}
  {% compress js inline %}
  <script async src="/static/js/news/news.js"></script>
  {% endcompress %}
{% endblock %}