{% extends 'news/news_base.html' %}
{% load stears_tags %}

{% block title %}Stears{% endblock %}

{% block body %}
<body class="w-clearfix">
  {% include 'news/news_nav.html' %}
  <div class="w-hidden-main w-hidden-medium w-clearfix mobile-homepage">
    {% if main_feature %}
    <a class="w-inline-block article-link-block link-block-main" href="{{ sUri }}{% url 'news:article' main_feature.article_id %}">
      <div class="w-section main-article featured-image-container">
        <img class="featured-image" src="{{ main_feature.photo }}" alt="">
        <div class="w-section main-article-content">
          <div class="main-article-category">{{ main_feature.category|pretty_category }}</div>
          <h1 class="main-article-h1">{{ main_feature.headline }}</h1>
          <div class="article-author">{{ main_feature.writer|format_name:'long' }}</div>
        </div>
      </div>
    </a>
    {% endif %}
    <div class="w-clearfix column-and-report-widget">
      {% if column %}
      <a class="w-clearfix w-inline-block article-link-block widget-link-block" href="{{ sUri }}{% url 'news:article' column.article_id %}">
        <div class="w-hidden-main daily-column-widget">
          <h2 class="daily-column-h2">Stears Column</h2>
          <div class="daily-column-secondary-header">
            <div class="daily-column-secondary-header">
              <h4 class="daily-column-byline">{{ column.column_title }}</h4>
            </div>
          </div>
          <div class="daily-column-widget-text">
            <h3 class="daily-column-widget-h3">{{ column.headline }}</h3>
          </div>
        </div>
      </a>
      <div class="w-row w-hidden-medium w-hidden-small w-hidden-tiny daily-column-widget">
        <div class="w-col w-col-5 daily-column-title">
          <h2 class="daily-column-h2">Stears Column</h2>
          <h4 class="daily-column-byline">{{ column.column_title }}</h4>
        </div>
        <div class="w-col w-col-7 daily-column-widget-text">
          <h3>{{ column.headline }}</h3>
          <p>{{ daily_column_summary|truncatechars:'200' }}</p>
        </div>
      </div>
      {% endif %}
      <a class="w-clearfix w-inline-block article-link-block widget-link-block-2" href="{{ sUri }}{% url 'news:reports' %}">
        <div class="w-clearfix stearsreport-widget">
          <div class="stearsreport-widget-logo">
            <h3 class="daily-column-h2 stearsreport-widget-h4">Stears</h3>
            <h3 class="stearsreport-report">Report</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="w-section secondary-article">
      {% if secondary %}
      <a class="w-inline-block article-link-block" href="{{ sUri }}{% url 'news:article' secondary.article_id %}">
        <div class="w-row">
          <div class="w-col w-col-5 w-col-medium-6 secondary-article-text">
            <div class="secondary-header-and-author">
              <div class="article-category">{{ secondary.category|pretty_category }}</div>
              <h2 class="secondary-h2">{{ secondary.headline }}</h2>
              <div class="article-author">{{ secondary.writer|format_name:'long' }}</div>
              <p class="post-summary">{{ secondary.par1|truncatechars:90 }}</p>
            </div>
          </div>
          <div class="w-col w-col-7 w-col-medium-6 secondary-article-img">
            <img class="secondary-photo" src="{{ secondary.photo }}" alt="">
          </div>
        </div>
      </a>
      {% endif %}
    </div>
    <div class="w-section third-article-section">
      <div class="w-row third-article-segment">
        <div class="w-col w-col-7 w-col-medium-6 w-col-small-6 w-col-tiny-6 third-article-row-col1">
          {% if tertiaries.0 %}
          <a class="w-inline-block article-link-block all-text-article" href="{{ sUri }}{% url 'news:article' tertiaries.0.article_id %}">
            <div class="article-category">{{ tertiaries.0.category|pretty_category }}</div>
            <h3>{{ tertiaries.0.headline }}</h3>
            <div class="article-author">{{ tertiaries.0.writer|format_name:'long' }}</div>
            <p class="all-text-article-p">{{ tertiaries.0.summary|truncatechars:200 }}</p>
          </a>
          {% endif %}
        </div>
        <div class="w-col w-col-5 w-col-medium-6 w-col-small-6 w-col-tiny-6 third-article-row-col2">
          {% if tertiaries.1 %}
          <a class="w-inline-block article-link-block mini-article-segment" href="{{ sUri }}{% url 'news:article' tertiaries.1.article_id %}">
            <div class="article-category mini-article-category">{{ tertiaries.1.category|pretty_category }}</div>
            <h4>{{ tertiaries.1.headline }}</h4>
            <div class="article-author mini-article-author">{{ tertiaries.1.writer|format_name:'long' }}</div>
          </a>
          {% endif %}
          <div class="w-section mini-segment-horizontal-border"></div>
          {% if tertiaries.2 %}
          <a class="w-inline-block article-link-block mini-article-segment" href="{{ sUri }}{% url 'news:article' tertiaries.2.article_id %}">
            <div class="article-category mini-article-category">{{ tertiaries.2.category|pretty_category }}</div>
            <h4>{{ tertiaries.2.headline }}</h4>
            <div class="article-author mini-article-author">{{ tertiaries.2.writer|format_name:'long' }}</div>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="w-clearfix goodmusicftbigsean">
        <div class="maybachmusic"></div>
      </div>
    </div>
  </div>
  <div class="w-section w-clearfix first-row-home">
    <div class="main-container">
      <div class="w-hidden-small w-hidden-tiny column-and-report-widget">
        {% if column %}
        <a class="w-inline-block article-link-block" href="{{ sUri }}{% url 'news:article' column.article_id %}">
          <div class="w-hidden-main daily-column-widget">
            <h2 class="daily-column-h2">Stears Column</h2>
            <div class="daily-column-secondary-header">
              <h4 class="daily-column-byline">{{ column.column_title }}</h4>
            </div>
            <div class="daily-column-widget-text">
              <h3>{{ column.headline }}</h3>
            </div>
          </div>
          <div class="w-row w-hidden-medium w-hidden-small w-hidden-tiny daily-column-widget">
            <div class="w-col w-col-5 daily-column-title">
              <h3 class="daily-column-h2">Stears Column</h3>
              <h4 class="daily-column-byline">{{ column.column_title }}</h4>
            </div>
            <div class="w-col w-col-7 daily-column-widget-text">
              <h4>{{ column.headline }}</h4>
              <p>{{ daily_column_summary|truncatechars:'200' }}</p>
            </div>
          </div>
        </a>
        {% endif %}
        <a class="w-clearfix w-inline-block article-link-block widget-link-block" href="{{ sUri }}{% url 'news:reports' %}">
          <div class="w-clearfix stearsreport-widget">
            <div class="stearsreport-widget-logo">
              <h3 class="daily-column-h2 stearsreport-widget-h4">Stears</h3>
              <h3 class="stearsreport-report">Report</h3>
            </div>
            <h4 class="w-hidden-medium w-hidden-small w-hidden-tiny stearsreport-widget-h3">Market Report - {{ report.date }}</h4>
            <div class="w-hidden-medium w-hidden-small w-hidden-tiny stearsreport-widget-text">By {{ report.author|format_name:'long' }}</div>
          </div>
        </a>
      </div>
      {% if main_feature %}
        <a class="w-clearfix w-inline-block article-link-block link-block-main" href="{{ sUri }}{% url 'news:article' main_feature.article_id %}">
          <div class="w-hidden-small w-hidden-tiny main-article featured-image-container">
            <img class="featured-image" src="{{ main_feature.photo }}" alt="">
            <div class="w-section main-article-content">
              <h1 class="main-article-h1">{{ main_feature.headline }}</h1>
              <div class="article-author">{{ main_feature.writer|format_name:'long' }}</div>
            </div>
          </div>
        </a>
      {% endif %}
    </div>
  </div>
  <div class="secondary-container">
    <div class="w-section horizontal-border"></div>
    <div class="second-row-col1">
      {% if secondary %}
      <a class="w-hidden-small w-hidden-tiny w-inline-block article-link-block article-link-secondary" href="{{ sUri }}{% url 'news:article' secondary.article_id %}">
        <div class="secondary-article">
          <div class="w-row">
            <div class="w-col w-col-5 w-col-stack secondary-article-text">
              <div class="secondary-header-and-author">
                <div class="article-category">{{ secondary.category|pretty_category }}</div>
                <h2>{{ secondary.headline }}</h2>
                <div class="article-author">{{ secondary.writer|format_name:'long' }}</div>
                <p class="post-summary">{{ secondary.par1|truncatechars:90 }}</p>
              </div>
            </div>
            <div class="w-col w-col-7 w-col-stack secondary-article-img">
              <img class="secondary-photo" src="{{ secondary.photo }}" alt="">
            </div>
          </div>
        </div>
      </a>
      {% endif %}
    </div>
    <div class="w-section w-hidden-small w-hidden-tiny third-article-section">
      <div class="w-row third-article-segment">
        <div class="w-col w-col-7 w-col-medium-6 w-col-small-6 w-col-tiny-6 third-article-row-col1">
          {% if tertiaries.0 %}
          <a class="w-inline-block article-link-block" href="{{ sUri }}{% url 'news:article' tertiaries.0.article_id %}">
            <div class="daily-column-header-and-author">
              <div class="article-category">{{ tertiaries.0.category|pretty_category }}</div>
              <h3>{{ tertiaries.0.headline }}</h3>
              <div class="article-author">{{ tertiaries.0.writer|format_name:'long' }}</div>
            </div>
            <p class="all-text-article-p">{{ tertiaries.0.summary|truncatechars:'200' }}</p>
          </a>
          {% endif %}
        </div>
        <div class="w-col w-col-5 w-col-medium-6 w-col-small-6 w-col-tiny-6 third-article-row-col2">
          <div class="w-section mini-article-segment">
            {% if tertiaries.1 %}
            <a class="w-inline-block article-link-block" href="{{ sUri }}{% url 'news:article' tertiaries.1.article_id %}">
              <div class="article-category mini-article-category">{{ tertiaries.1.category|pretty_category }}</div>
              <h4>{{ tertiaries.1.headline }}</h4>
              <div class="article-author mini-article-author">{{ tertiaries.1.writer|format_name:'long' }}</div>
            </a>
            {% endif %}
          </div>
          <div class="w-section mini-segment-horizontal-border"></div>
          <div class="w-section mini-article-segment">
            {% if tertiaries.2 %}
            <a class="w-inline-block article-link-block" href="{{ sUri }}{% url 'news:article' tertiaries.2.article_id %}">
              <div class="article-category mini-article-category">{{ tertiaries.2.category|pretty_category }}</div>
              <h4>{{ tertiaries.2.headline }}</h4>
              <div class="article-author mini-article-author">{{ tertiaries.2.writer|format_name:'long' }}</div>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="w-section horizontal-border bottom-border"></div>
    <div class="w-section quote-section">
      <h2 class="quote-h2"><em>"{{ quote.body }}"</em></h2>
      <div class="article-author">{{ quote.author }}</div>
    </div>
  </div>
  <div class="w-section features">
    <div class="features-container">
      <h1 class="features-h1">Features</h1>
      <div class="w-row w-hidden-main category-row">
        {% for feature in features %}
        <div class="w-col w-col-6 w-col-small-6 article-segment">
          {% if feature %}
          <a class="w-inline-block post-block" href="{{ sUri }}{% url 'news:article' feature.article_id %}">
            <div class="header-and-author">
              <h3 class="business-h3">{{ feature.headline }}</h3>
              <div class="post-block-author">{{ feature.writer|format_name:'long' }}</div>
              <p class="post-summary">{{ feature.par1|truncatechars:90 }}</p>
            </div>
            <div class="w-section article-thumbnail">
              <img class="stears-thumbnail" src="{{ feature.photo }}" alt="">
            </div>
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="w-row w-hidden-medium w-hidden-small w-hidden-tiny category-row">
        {% for feature in features %}
        <div class="w-col w-col-3 article-segment">
          {% if feature %}
          <a class="w-inline-block post-block" href="{{ sUri }}{% url 'news:article' feature.article_id %}">
            <div class="header-and-author">
              <h3 class="business-h3">{{ feature.headline }}</h3>
              <div class="post-block-author">{{ feature.writer|format_name:'long' }}</div>
              <p class="post-summary">{{ feature.par1|truncatechars:90 }}</p>
            </div>
            <div class="w-section article-thumbnail">
              <img class="stears-thumbnail" src="{{ feature.photo }}" alt="">
            </div>
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  {% include 'news/footer.html' %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
{% endblock %}