<!DOCTYPE html>

<html data-wf-site="54d15d04624a64834599eee8" data-wf-page="54d15d04624a64834599eee9">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="Copyright © 2015. Stears Partnership. All rights reserved">
  <meta property="og:site_name"          content="Stears" />
  {% block meta %}{% endblock %}
  {% block special_links %}{% endblock %}
  <style>
    .business-nav-container{
        display: none;
    } 
  </style>
  {% block dynamic_static_head %}{% endblock %}
</head>

{% block body %}{% endblock %}
{% block dynamic_static_body %}{% endblock %}
</html>