  <div class="w-nav w-hidden-small w-hidden-tiny" data-collapse="small" data-animation="default" data-duration="400">
    <div class="w-section w-clearfix navigation">
      <div class="nav-container">
        <a class="w-clearfix w-inline-block logo-link" href="{% url 'news:index' %}">
          <img class="stears-logo" src="/static/images/StearsBeta.png" width="480">
        </a>
        <div class="w-clearfix top-half">
          <a class="w-clearfix w-inline-block social-link-block" href="https://twitter.com/intent/follow?screen_name=@stearsng">
            <div class="nav-social">
              <div class="follow-us">Follow us on Twitter</div>
              <img class="twitter-icon" src="/static/images/social19.svg" width="12">
            </div>
          </a>
        </div>
        <nav class="w-nav-menu nav-content" role="navigation">
          <a class="w-nav-link nav-text" href="{% url 'news:index' %}">Home</a>
          <a class="w-nav-link nav-text" href="{% url 'news:business' 'stearsBusiness' %}">Business &amp; Economy</a>
          <a class="w-nav-link nav-text" href="{% url 'news:reports' %}">Market Reports</a>
        </nav>
      </div>
    </div>
  </div>
  <div class="w-nav w-hidden-main w-hidden-medium mobile-navspace" data-collapse="small" data-animation="default" data-duration="400">
    <div class="w-nav w-hidden-main w-hidden-medium mobile-nav" data-collapse="small" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container">
        <a class="w-nav-brand mobile-logo" href="{% url 'news:index' %}">
          <img src="/static/images/StearsBeta.png" width="90">
        </a>
        <nav class="w-nav-menu w-clearfix mobile-nav-menu" role="navigation">
          <a class="w-nav-link mobile-nav-link" href="{% url 'news:index' %}">Home</a>
          <a class="w-nav-link mobile-nav-link b_e_nav" href="{% url 'news:business' 'stearsBusiness' %}">Business &amp; Economy</a>
          <a class="w-nav-link mobile-nav-link" href="{% url 'news:reports' %}">Market Reports</a>
        </nav>
        <div class="w-nav-button mobile-menu-button">
          <div class="w-icon-nav-menu hamburger-icon"></div>
          <!-- <div class="nav-title">Menu</div> -->
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
