<div class="share-block">
    <a class="w-inline-block article-link-block share-link-block" href="https://twitter.com/share?url={{ aUri }}" target="_blank" alt="Twitter"><img class="twitter-share share-icon" src="/static/images/twitter-icon.svg" width="17">
    </a>
    <a class="w-inline-block article-link-block share-link-block fb-stears-share" href="http://www.facebook.com/sharer.php?u={{ aUri }}" target="_blank" alt="Facebook"><img class="facebook-share share-icon" src="/static/images/facebook-icon.svg" width="9">
    </a>
    <a class="w-inline-block article-link-block share-link-block" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ aUri }}" target="_blank" alt="Linkedin"><img class="linkedin-share share-icon" src="/static/images/linkedin-icon.svg" width="19">
    </a>
    <a class="w-inline-block article-link-block share-link-block" href="https://plus.google.com/share?url={{ aUri }}" target="_blank" alt="Google Plus"><img class="google-plus-share share-icon" src="/static/images/google-plus-icon.svg" width="20">
    </a>
    <a class="w-inline-block article-link-block share-link-block" href="mailto:?Subject={{ article.headline }} &amp;Body=Stears News - {{ aUri }}" alt="mail"><img class="mail-share share-icon" src="/static/images/iconmonstr-email-4-icon.svg" width="22">
    </a>
</div>