{% extends 'news/news_base.html' %}
{% load stears_tags %}

{% block title %}Stears{% endblock %}

{% block body %}
<body class="w-clearfix">
  {% include 'news/news_nav.html' %}
  <div class="stearsreport-main-logo">
    <h3 class="daily-column-h2 stearsreport-widget-h4 stearsreport-logo-text">Stears<font class="stearsreport-report stearsreport-logo-text">Report</font></h3>
  </div>
  <div class="stearsreport-description">
      <h4>
        What Is StearsReport?
      </h4>
      <p>
        Each week, the <a class="nostyle" href="">Stears<font color="#de3e3e">Report</font></a> takes a look back at the events of the previous seven days on the Nigerian financial markets. Broken down into the Oil/Gas and Banking sectors, it looks at the performance of the Nigerian Stock Exchange and related indices.
      </p>
      <p>
        It includes a glossary for new entrants to Finance and is put together by the Finance Team of the Writer’s Network.
      </p>
    </div>
  <div class="report-container">
    <div class="w-section stearsreport-container">
      {% for report in reports reversed%}
        {% if report.industry %}
        <div class="w-clearfix stearsreport-post industry-report">
          <div class="w-clearfix w-inline-block pdf-link-block nest-anchor">
            <div class="stearsreport-post-text">
              <div class="industry-report-label">Industry Report</div>
              <h2 class="stearsreport-h2"><a href="{{ sUri }}{{ report.pdf.url }}" class="target-anchor inall" target="_blank">{{ report.title }}</a></h2>
              <div class="stearsreport-byline">{{ report.summary }}</div>
            </div>
          </div>
          <div class="stearsreport-misc industry-options">
            <div class="w-inline-block view-link-block nest-anchor">
              <div class="w-clearfix view-report-segment"><img class="view-report" src="/static/images/iconmonstr-eye-7-icon.svg" width="30">
                <div class="view-report-text"><a href="{{ sUri }}{{ report.pdf.url }}" target="_blank" class="target-anchor inall"></a>View Report</div>
              </div>
            </div>
            <a class="w-inline-block download-link-block" href="{{ sUri }}{{ report.pdf.url }}" download>
              <div class="w-clearfix download-link">
                <div class="download-report-text">Download <br>Report</div><img class="download-report" src="/static/images/iconmonstr-download-8-icon.svg" width="30">
              </div>
            </a>
          </div>
        </div>
        {% else %}
        <div class="w-clearfix stearsreport-post">
          <div class="w-clearfix w-inline-block pdf-link-block nest-anchor">
            <div class="stearsreport-post-text">
              <div class="industry-report-label">Weekly Report</div>
              <h2 class="stearsreport-h2"><a href="{{ sUri }}{{ report.pdf.url }}" class="target-anchor inall" target="_blank">Stears Report – {{ report.time_title }}</a></h2>
            </div>
          </div>
          <div class="stearsreport-misc">
            <div class="w-inline-block view-link-block nest-anchor">
              <div class="w-clearfix view-report-segment"><img class="view-report" src="/static/images/iconmonstr-eye-7-icon.svg" width="30">
                <div class="view-report-text"><a href="{{ sUri }}{{ report.pdf.url }}" class="target-anchor inall" target="_blank">View Report</a></div>
              </div>
            </div>
            <a class="w-inline-block download-link-block" href="{{ sUri }}{{ report.pdf.url }}" download>
              <div class="w-clearfix download-link">
                <div class="download-report-text">Download<br>Report</div><img class="download-report" src="/static/images/iconmonstr-download-8-icon.svg" width="30">
              </div>
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% include 'news/footer.html' %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
{% endblock %}