{% extends 'news/news_base.html' %}
{% load compress %}

{% block special_links %}
{% ifequal sUri 'http://www.stearsng.com' %}
{% include 'news/ganalytics.html' %}
{% endifequal %}
{% endblock %}

{% block title %}StearsReport | Stears{% endblock %}

{% block meta %}
<meta name="description" content="StearsReport includes a weekly overview of the Nigerian financial markets and a quarterly review of evolving sectors."/>
{% endblock %}

{% block body %}
<body class="w-clearfix">
  {% include 'news/news_nav.html' %}
  <div class="stearsreport-main-logo">
    <h3 class="daily-column-h2 stearsreport-widget-h4 stearsreport-logo-text">Stears<font class="stearsreport-report stearsreport-logo-text">Report</font></h3>
  </div>
  <div class="stearsreport-description">
    <h4>
      What Is StearsReport?
    </h4>
    <p>
      StearsReport includes a weekly overview of the Nigerian financial markets and a quarterly review of evolving sectors. The weekly report analyses the performance of the Nigerian Stock Exchange (NSE), its related indices and market trends. The industry report is a critical review of trends influencing growth and innovation in a particular sector.
    </p>
    <p>
      StearsReport also includes a glossary of definitions and functions of institutions for new entrants into the Nigerian financial markets.
    </p>
  </div>
  <div class="subscription-row">
    <div class="subscription-container">
      <div class="subscription-message">
        <p class="srs-body"><strong>Stay ahead. </strong><font>Subscribe to receive weekly StearsReport.</p>
      </div>
      <div class="subscription-email">
          <form class="subscribe_form" action="#">
            <input type="text" name="email" value="Please enter your email address" class="srs-input">
          </form>
      </div>
    </div>
  </div>
  <div class="report-container">
    <div class="w-section stearsreport-container">
      {% for report in reports reversed%}
        {% if report.industry %}
        <div class="w-clearfix stearsreport-post industry-report">
          <div class="w-clearfix w-inline-block pdf-link-block nest-anchor v-report">
            <div class="stearsreport-post-text">
              <div class="industry-report-label">Industry Report</div>
              <h2 class="stearsreport-h2"><a href="{{ sUri }}{{ report.pdf.url }}" class="target-anchor inall" target="_blank">{{ report.title }}</a></h2>
              <div class="stearsreport-byline">{{ report.summary }}</div>
            </div>
          </div>
          <div class="stearsreport-misc industry-options">
            <div class="w-inline-block view-link-block nest-anchor v-report">
              <div class="w-clearfix view-report-segment"><img class="view-report" src="/static/images/iconmonstr-eye-7-icon.svg" width="30">
                <div class="view-report-text"><a href="{{ sUri }}{{ report.pdf.url }}" target="_blank" class="target-anchor inall"></a>View Report</div>
              </div>
            </div>
            <a class="w-inline-block download-link-block d-report" href="{{ sUri }}{{ report.pdf.url }}" download>
              <div class="w-clearfix download-link">
                <div class="download-report-text">Download <br>Report</div><img class="download-report" src="/static/images/iconmonstr-download-8-icon.svg" width="30">
              </div>
            </a>
          </div>
        </div>
        {% else %}
        <div class="w-clearfix stearsreport-post">
          <div class="w-clearfix w-inline-block pdf-link-block nest-anchor v-report">
            <div class="stearsreport-post-text">
              <div class="industry-report-label">Weekly Report</div>
              <h2 class="stearsreport-h2"><a href="{{ sUri }}{{ report.pdf.url }}" class="target-anchor inall" target="_blank">Stears Report – {{ report.time_title }}</a></h2>
            </div>
          </div>
          <div class="stearsreport-misc">
            <div class="w-inline-block view-link-block nest-anchor v-report">
              <div class="w-clearfix view-report-segment"><img class="view-report" src="/static/images/iconmonstr-eye-7-icon.svg" width="30">
                <div class="view-report-text"><a href="{{ sUri }}{{ report.pdf.url }}" class="target-anchor inall" target="_blank">View Report</a></div>
              </div>
            </div>
            <a class="w-inline-block download-link-block d-report" href="{{ sUri }}{{ report.pdf.url }}" download>
              <div class="w-clearfix download-link">
                <div class="download-report-text">Download<br>Report</div><img class="download-report" src="/static/images/iconmonstr-download-8-icon.svg" width="30">
              </div>
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% include 'news/footer.html' %}
</body>
{% endblock %}

{% block dynamic_static_body %}
  {% compress js inline %}
  <script async src="/static/js/news/news.js"></script>
  {% endcompress %}
  <script type="text/javascript">
    var default_message = "Please click to enter your email address";
    $(document).ready(function(){
      $('.srs-input').val(default_message);
      $('.srs-input').focus(function(){
        if($('.srs-input').val() === default_message){
          $('.srs-input').val('');
        }
      });

      $('.srs-input').blur(function(){
        if($('.srs-input').val() === ''){
          $('.srs-input').val(default_message);
        }
      });
    });
  </script>
{% endblock %}