<html>
  <head>
    <meta charset="utf-8"><title>Articles - Stears</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/foundation.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/news.css">
    <style type="text/css"></style>
  </head>
  <body class="news">
    <div class="row fill news-top-section">
      <div class="columns small-12 ">
        <div class="row news-ss-bar">
          <div class="columns small-12 medium-4 news-socialside-column">
            <div class="social-icon">
              <img class="twitter-icon " src="http://uploads.webflow.com/54d15d04624a64834599eee8/54d265fa0d5fbeb671afe3f1_social19.svg" width="12" alt="54d265fa0d5fbeb671afe3f1_social19.svg">
            </div>
          </div>
        </div>
        <div class="row news-n-bar">
          <div class="row small-12 columns large-5 medium-9 small-offset-0 medium-offset-3 large-offset-7">
            <div class="news-nav-links">
              <a class="news-nav-text" href="#">
                <strong>Home</strong>
              </a>
              <a class="news-nav-text" href="#">
                <strong>Business & Economy</strong>
              </a>
              <a class="news-nav-text" href="#">
                <strong>Market Reports</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

      <script src="/static/js/foundation.min.js"></script>
      <script>
      $(document).foundation();
      </script>
    </body>
  </html>