div.nsenametitle { /*font-size: 1.2em;font-weight: 600; text-align:center; color:#424242;*/ display:none; }
div.appfooter div.nayabrand { font-size:12px; float:right; }

div.top { border:1px solid #E6E6FA; /*background:#f3fafe;*/ /*background:#fff1e0;*/ background:transparent; font:12px Arial, Helvetica, sans-serif; color:#9a9a9a; line-height:18px; padding:3px; width:300px; }
div.hr { background-color:red; height:3px; }
.asi { color:#373737; font-size:14px;  }
div.refresher { margin-top:3px; }



table.nsepricelist tr td a:hover { color:#424242; }
table.nsepricelisthead { color:#000; }

.link1 { display:inline-block; color:#181818; font-weight:bold; padding-right:13px; background:url(../images/marker_2.gif) right 6px no-repeat; text-decoration:none; }
.link1:hover { text-decoration:underline; }
.nselink { margin-right:5px; font-weight:bold; font-size:14px; }
.date { text-transform:uppercase; font-size:11px; }
div.moverstabs { /*background:#fff1e0;*/ background:transparent; }

ul { background: transparent; border: 0 none; font-size: 100%; margin: 0; padding: 0; border: 0; outline: 0; vertical-align: top; list-style: none; }
table, tbody, tfoot, thead, th, tr{ background: transparent; border: 0 none; font-size: 100%; margin: 0; padding: 0; border: 0; outline: 0; vertical-align: top; }
table td { border-collapse:collapse; }
table.nsepricelist tr td a:hover { text-decoration:underline; }
table.nsepricelisthead { text-transform:uppercase; }
table.nsepricelist tr td a { text-decoration:none; }
table.nsepricelist tr td { /*padding:5px;*/ }

table.nsepricelisthead td.coy { width:40%; }
table.nsepricelisthead td.close { width:30%; }
table.nsepricelisthead td.change { width:30%; }

table.nsepricelist td.coy { width:40%; }
table.nsepricelist td.close { width:30%; }
table.nsepricelist td.change { width:30%; }

.actives table.nsepricelist td.coy { width:40%; }
.actives table.nsepricelist td.close { width:20%; }
.actives table.nsepricelist td.change { width:40%; }

.actives table.nsepricelisthead td.coy { width:40%; }
.actives table.nsepricelisthead td.close { width:20%; }
.actives table.nsepricelisthead td.change { width:40%; }
.morepriceslink { padding-top:5px; }


table.toptrades tr td a:hover { text-decoration:underline; }
table.toptradeshead { text-transform:uppercase; }
table.toptrades tr td a { text-decoration:none; }
table.toptrades tr td { /*padding:5px;*/ }
table.toptrades tr td a:hover { color:#424242; }
table.toptradeshead { color:#000; }
table.toptrades { width:100%; }
table.toptradeshead { width:100%; font-size:11px; }

table.toptrades td.coy { width:30%; }
table.toptrades td.close { width:20%; }
table.toptrades td.change { width:50%; }

table.toptradeshead td.coy { width:30%; }
table.toptradeshead td.close { width:20%; }
table.toptradeshead td.change { width:50%; }


table.nsepricelist { width:100%; }
table.nsepricelisthead { width:100%; font-size:11px; }

.horizontal_movers { float:left; margin-left:10px; /*margin-top:10px;*/ }
.horizontal_asi { float:left; }




p{
	font-size:100px;
}


#banner {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
                height: 200px;
                z-index: -1;
            }

