.article-segment {
  margin-bottom: 10%;
}

.secondary-article-text h2 {
 font-size: 2em	
}

.article-category h3 {

}

.gainers-stock {
	width:19.19%;
}

.article-paragraph p{
  width: auto;
  margin-top:10px;
  margin-bottom: 10px;
  /*margin-bottom: 2%;*/
  margin-left: 0%;
  /*padding-bottom: 4%;*/
  /*border-bottom: 1px solid #e6e6e6;*/
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.article-paragraph p a{
  color: #f75e5e;
  font-weight: 500;
  text-decoration: none;
}

.article-paragraph p a:hover{
  text-decoration: none;
  /*#f75e5e*/
  /*#2A58D6*/
  border-bottom: solid #f75e5e 1px;
}

.article-paragraph{
  margin-top:10px;
}

.article-image{
  padding:0px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: transparent;
}

.article-page-image{
  width: 100%;
}

.article-detail{
  padding-bottom:0px; 
}

.copyright{
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

.twitter-share{
  margin-bottom:0px;
}

.facebook-share{
  margin-bottom:-2px;
}

.linkedin-share{
  margin-bottom:-1px;
}

.google-plus-share{
  margin-bottom:-2px;
}

.mail-share{
  margin-bottom:-4px;
}

.share-link-block img{
  display: block;
}

.share-text{
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.share-block{
  display: inline-block;
}

.main-article-content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0,0,0,0.6);
}

.nav-content{
  padding: 0px;
  height: 70px;
}

.nav-text.w--current{
  font-weight: 500;
  color: #f05042;
}

.nav-text{
  margin:0px;
  padding:20px;
  display: inline-block;
  height: 100%;
  line-height: 40px;
}

.nav-text:hover{
  background-color: #f05042;
  text-decoration: none;
  color: white;
}

.companies-row-1{
  margin-top:3%;
}

.main-article-h1{
  margin-bottom: 0px;
  font-size: 35px;
}

.first-row-home{
  padding-top:3%;
}

.secondary-photo{
  height: 100%;
  width: 100%;
}

.secondary-article-img{
  background-color: transparent;
}

.featured-post{
  overflow: hidden;
}

.featured-post-image{
  overflow:hidden;
  padding-bottom:0px;
  background-color: transparent;
}

.featured-image{
  height:100%;
  width:100%;
  min-width: 640px;
  min-height: 350px;
  z-index:-1;
  position:relative;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+1,2b2b2b+100&amp;0.01+50,1+99 */ 
}


.featured-image-container{
  overflow: hidden;
  background-color: transparent;
}

.stears-thumbnail{
  height: auto;
  width:100%;
}

.post-block{
  background-color: white;
}

.header-and-author{
  height: 160px;
  padding: 8px;
}

.post-summary{
  font-size: 12px;
  margin-top:5px;
  word-wrap:break-word;
}

.article-thumbnail{
  padding:0px;
  min-height: 200px;
  background-color: transparent;
}


.article-link-block{
  overflow: hidden;
}

.mobile-news-tab, .mobile-news-tab.w--current {
	width: 49.4%;
}

.mobile-markets-tab, .mobile-markets-tab.w--current {
	width: 49.4%;
}

.mobile-home-tabs {
	width:96%;
}

.w-nav-link:hover, .w-nav-link.w--current:hover, .w-nav-link:active, .w-nav-link.w--current:active{
  background-color: #f05042;
  color: white;
}

.w-nav-link.w--current{
  color: #f05042;
}

.article-header{
  font-size: 35px;
}

.tags-block{
  display: block;
  margin-bottom: 10px;
}

.article_tag{
  background-color: white;
  border-radius: 2px;
  color: #737373;
  font-weight: 100;
  padding: 10px;
  display: inline-block;
  margin-bottom: 3px;
}

table {
    width: 100%;
}

td{
  text-align: center;
}

th{
  font-weight: bold;
}


 @media (min-width: 768px) {

	.market-snapshot{
		width: 33.9%;
	}

  .header-and-author{
    height: 140px;
  }
 }

  @media (min-width: 991px) {

    .article-header{
      width:50%;
      margin-left:15%;
      margin-top:1%;
    }

    .article-thumbnail{
      min-height: 100px;
      height: auto;
    }

    .header-and-author{
      height: 170px;
    }

    .stearsreport-widget-logo {
      width:41.66666667%;
      padding:10px;
      height:80px;
      display: inline-block;
      padding-top:0px;
    }

    .article-content{
      width: 50%;
    }

    .article-image{ 
      width: 50%;
    }

    .daily-column-widget{
      height:250px;
    }

    .stearsreport-widget{
      height:120px;
      padding-top: 40px;      
    }

    .stearsreport-widget-h3, .stearsreport-widget-text{
      width:55%;
    }

   }
 @media (max-width: 767px) and (min-width: 480px){

  .article-link-block.widget-link-block {
    display: inline-block;
    width: 53%;
  }

  .article-header{
    font-size: 30px;
    line-height: 35px;
  }

  .article-link-block.widget-link-block-2 {
    width: 46%;
  }

  .header-and-author{
    height: 120px;
  }

}


 @media (max-width: 479px){
  .article-header{
    font-size: 25px;
    line-height: 30px;
  }

  .copyright{
  float: left;
  }

  .footer-links{
    width: 100%;
  }

  .mobile-menu-button{
  margin-top: 0px;
  }

  .mobile-nav {
    margin-bottom: 0px;
  }

  .header-and-author{
    height: 140px;
  }

}