.article_box{
  background-color:rgba(255,255,255,0.8);
  padding:5px;
}

.button3{
  display: inline-block;
  background-color:#f05042;
  color: white;
  max-height: 60px;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  border:none;
}

.button3:hover{
  background-color:transparent;
  color: black;
}

.above_nav{
  width:100%;
  max-width: 720px;
  margin: auto;
}

.above_nav p{
  display: inline-block;
  width: 80%;
}

.fill {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.article-segment {
  margin-bottom: 10%;
}

.secondary-article-text h2 {
 font-size: 2em	
}

.all-text-article-p{
  padding-right: 10px;
}

.gainers-stock {
	width:19.19%;
}

.article-paragraph p{
  width: auto;
  margin-top:10px;
  margin-bottom: 10px;
  /*margin-bottom: 2%;*/
  margin-left: 0%;
  /*padding-bottom: 4%;*/
  /*border-bottom: 1px solid #e6e6e6;*/
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.author-name{
  color: #2A58D6;
}

.article-paragraph p a{
  /*color: #1a67a8;*/
  color: #2A58D6;
  font-weight: 300;
  text-decoration: none;
}

.article-paragraph p a:hover{
  text-decoration: none;
  /*#f75e5e*/
  /*#2A58D6*/
  border-bottom: solid #2A58D6 1px;
}

.article-paragraph{
  margin-top:10px;
}

.article-image{
  padding:0px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: transparent;
}

.article-page-image{
  width: 100%;
}

.article-detail{
  padding-bottom:0px; 
}

.copyright{
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

.twitter-share{
  margin-bottom:0px;
}

.facebook-share{
  margin-bottom:-2px;
}

.linkedin-share{
  margin-bottom:-1px;
}

.google-plus-share{
  margin-bottom:-2px;
}

.mail-share{
  margin-bottom:-4px;
}

.share-link-block img{
  display: block;
}

.share-text{
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.share-block{
  display: inline-block;
}

.main-article-content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0,0,0,0.6);
}

.nav-content{
  padding: 0px;
  height: 70px;
}

.nav-text.w--current{
  font-weight: 300;
  color: #f05042;
}

.nav-text{
  margin:0px;
  padding:20px;
  display: inline-block;
  height: 100%;
  line-height: 30px;
}

.nav-text:hover{
  background-color: #f05042;
  text-decoration: none;
  color: white;
}

.companies-row-1{
  margin-top:3%;
}

.main-article-h1{
  margin-bottom: 0px;
  font-size: 35px;
}

.main-article:hover .main-article-content{
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.first-row-home{
  padding-top:3%;
}

.secondary-photo{
  height: auto;
  width: 100%;
}

.secondary-article-img{
  background-color: transparent;
}

.featured-post{
  overflow: hidden;
}

.featured-post-image{
  overflow:hidden;
  padding-bottom:0px;
  background-color: transparent;
}

.featured-image{
  height:100%;
  width:100%;
  min-width: 640px;
  min-height: 350px;
  z-index:-1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+1,2b2b2b+100&amp;0.01+50,1+99 */ 
}


.featured-image-container{
  overflow: hidden;
  background-color: transparent;
}

.stears-thumbnail{
  height: auto;
  width:100%;
}

.placeholder_select{
  display: none;
}

.post-block{
  background-color: white;
}

.post-block:hover{
  background-color: #fafafa;
  color: black;
}

.post-block:hover div h3{
  /*color: #1a67a8;*/
}

h3, h4, .business-h3, .daily-column-h2{
  font-weight: 600;
}

.header-and-author{
  height: 160px;
  padding: 8px;
}

.post-summary{
  font-size: 13px;
  margin-top:5px;
  word-wrap:break-word;
}

.article-thumbnail{
  padding:0px;
  min-height: 200px;
  background-color: transparent;
}

.stearsreport-description{
  margin-bottom: 80px;
  padding-top: 10px;
  padding:20px;
  padding-left: 0px;
  background-color: white;
}

.stearsreport-description h4{
  max-width: 1000px;
  color: #f05042;
  font-weight: 300;
  font-size: 16px;
  display: block;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
  margin-top:10px;
  margin-bottom:10px;
  width: 70%;
}

.stearsreport-description p{
  max-width: 1000px;
  font-size: 16px;
  display: block;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
  margin-top:10px;
  margin-bottom:10px;
  width: 70%;
}

.article-link-block{
  overflow: hidden;
}

.nest-anchor{
  cursor: pointer;
}

.inall{
  all:inherit;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

.inall:hover{
  all:inherit;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

.mobile-news-tab, .mobile-news-tab.w--current {
	width: 49.4%;
}

.mobile-markets-tab, .mobile-markets-tab.w--current {
	width: 49.4%;
}

.mobile-home-tabs {
	width:96%;
}

.featured-link-block.w-inline-block{
  width: 100%;
}

.w-nav-link:hover, .w-nav-link.w--current:hover, .w-nav-link:active, .w-nav-link.w--current:active{
  background-color: #f05042;
  color: white;
}

.w-nav-button.w--open{
  background-color: #f05042;
}

.w-nav-link.w--current{
  color: #f05042;
}

.article-header{
  font-size: 35px;
}

.tags-block{
  display: block;
  margin-bottom: 10px;
}

.article_tag{
  background-color: white;
  border-radius: 2px;
  color: #737373;
  font-weight: 100;
  padding: 10px;
  display: inline-block;
  margin-bottom: 3px;
}

.nostyle, .nostyle:hover, .nostyle:active, .nostyle:visited{
  text-decoration: none;
  color: inherit;
}

table {
    width: 100%;
}

td{
  text-align: center;
}

th{
  font-weight: bold;
}


 @media (min-width: 768px) {

	.market-snapshot{
		width: 33.9%;
	}

  .header-and-author{
    height: 140px;
  }
 }

  @media (min-width: 991px) {

    .main-container, .features-container, .secondary-container, .nav-container, .footer-container, .be-container, .companies-row-1{
      width:85%;
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
    }

    .report-container{
      width:70%;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }

    .article-container{
      width:85%;
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
    }

    .article-content, .article-image, .article-header{
      max-width: 720px;
      width: 100%;
      margin-left: 0px;
    }

    .stearsreport-post{
      margin:0px;
      width: 100%;
    }

    .navigation, .footer{
      padding-left: 0px;
      padding-right: 0px;
    }

    .second-row-col1{
      width:60.5%;
      margin-left: 0px;
      margin-right: 0px;
    }
    
    .third-article-section{
      margin-left: 0px;
      margin-right: 0px;
      width: 39%;
    }
    
    .horizontal-border{
      margin: 2% 0% 2% 0%;
    }

    .quote-section{
      margin: 4% 0% 4% 0%;
    }

    .features-h1{
      margin-left:0px;
    }

    .category-row{
      margin-left: 0px;
      margin-right: 0px;
    }

    .article-link-block.link-block-main{
      width:60.5%;
      margin-left: 0px;
    }

    .column-and-report-widget{
      margin-left: 0px;
      margin-right: 0px;
      width: 39%;
    }
    
    .secondary-header-and-author h2{
      font-size: 28px;
    }

    .article-thumbnail{
      min-height: 100px;
      height: auto;
    }

    .header-and-author{
      height: 190px;
    }

    .stearsreport-widget-logo {
      width:41.66666667%;
      padding:10px;
      height:80px;
      display: inline-block;
      padding-top:0px;
    }

    .daily-column-widget{
      height:250px;
    }

    .stearsreport-widget{
      height:120px;
      width: 100%;
      padding-top: 40px;      
    }

    .stearsreport-widget-h3, .stearsreport-widget-text{
      width:55%;
    }

   }
 @media (max-width: 767px) and (min-width: 480px){

  .article-link-block.widget-link-block {
    display: inline-block;
    width: 53%;
  }

  .secondary-header-and-author{
      max-height: 220px;
    }

  .business-h3{
    font-size: 20px;
    line-height: 20px;
  }

  .article-header{
    font-size: 30px;
    line-height: 35px;
  }

  .article-link-block.widget-link-block-2 {
    width: 46%;
  }

  .header-and-author{
    height: 120px;
  }

  .stearsreport-widget{
    padding-top: 0px;
  }

  .stearsreport-widget-logo {
    padding: 0px;
  }

  .daily-column-h2.stearsreport-widget-h4{
    height: 100%;
    width:100%;
    display: block;
    text-align: center;
    line-height: 8;
  }


}


 @media (max-width: 479px){
  .article-header{
    font-size: 25px;
    line-height: 30px;
  }

  .stearsreport-widget{
    padding-top: 0px;
  }

  .stearsreport-widget-logo {
    padding: 0px;
  }

  .daily-column-h2.stearsreport-widget-h4{
    height: 100%;
    width:100%;
    display: block;
    text-align: center;
    line-height: 4;
  }

  .featured-image{
    margin-left:-75px;
  }

  .stearsreport-description h4{
    width: 90%;
  }

  .stearsreport-description p{
    width: 90%;
  }

  .copyright{
  float: left;
  }

  .footer-links{
    width: 100%;
  }

  .mobile-menu-button{
  margin-top: 0px;
  }

  .mobile-nav {
    margin-bottom: 0px;
  }

  .header-and-author{
    height: 140px;
  }

}