.article-segment {
  margin-bottom: 10%;
}

.secondary-article-text h2 {
 font-size: 2em	
}

.article-category h3 {

}

.gainers-stock {
	width:19.19%;
}

.article-content p{
  width: auto;
  margin-top: 5%;
  /*margin-bottom: 2%;*/
  margin-left: 0%;
  /*padding-bottom: 4%;*/
  /*border-bottom: 1px solid #e6e6e6;*/
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.article-image{
  padding:0px;
  background-color: transparent;
}

.secondary-photo{
  height: 100%;
  width: 100%;
}

.secondary-article-img{
  background-color: transparent;
}

.featured-post-image{
  overflow:hidden;
  padding-bottom:0px;
  background-color: transparent;
}

.featured-image{
  height:100%;
  width:100%;
  min-height: 350px;
}

.stears-thumbnail{
  height: 100%;
  width:100%;
}

.article-thumbnail{
  padding:0px;
  min-height: 200px;
  background-color: transparent;
}


.article-link-block{
  overflow: hidden;
}

.mobile-news-tab, .mobile-news-tab.w--current {
	width: 49.4%;
}

.mobile-markets-tab, .mobile-markets-tab.w--current {
	width: 49.4%;
}

.mobile-home-tabs {
	width:96%;
}

.w-nav-link.w--current {
  color: black;
}

 @media (min-width: 768px) {

	.market-snapshot{
		width: 33.9%;
	}
 }