{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block page_title_block %}
<br>
<br>
	<br>
{% endblock %}
{% block content %}
	<head>
		<script src="/static/js/stears/allocator.js" ></script>
	</head>
	<div class="row">
		<div class="columns small-11 small-centered">
			<div class="row">
				<div class="columns small-12 medium-7 large-5 large-push-7">
					<div class="article_box">
						<a id="article_dropdowns" class="toggles_div" style="padding:10px;">Articles</a>
					</div>
					<br>
					<div class="article_dropdowns">
						{% for cat, headlines in cats.items reversed %}
						<div class="">
							<select style="width:80%;display:inline-block;" name="article_options" id="id_article_options_{{ cat }}" style="margin:0px;" data-url="{% url 'weal:allocate' %}" >
								<option value="None">Choose from {{ cat|pretty_category }}</option>
								{% for option in headlines %}
								<option value="{{ option.article_id }}">{{ option.headline }}</option>
								{% empty %}
								<option value="None">Sorry! No articles here</option>
								{% endfor %}
							</select>
							<form action="{% url 'weal:allocate' %}" hidden>
								{% csrf_token %}
							</form>
							<button class="submit_article_option" style="width:15%;display:inline-block;" data-cat="{{ cat }}">Go</button>
							<script type="text/javascript">
								$.ajaxSetup({
									data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
								})
							</script>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="columns small-12 large-7 large-pull-5">
					<div class="article_box">
						<a id="allocate_home_form" class="toggles_div2" style="padding:10px;" data-group="s_pages">Home</a>
					</div>
					<br>
					<div class="allocate_home_form article_box s_pages" class="columns small-12" style="padding:10px;" data-page="home">
						<div data-title="quote" id="toggle_quote_form" class="section quote_entry derived toggles_div" >
							Quote - {{ home.quote.body|truncatechars:'50' }}
						</div>
						<div class="toggle_quote_form" id="new_quote" data-url="{% url 'weal:newquote' %}" hidden>
						<br>
							<form >
								<h5>New Quote</h5>
								{% csrf_token %}
								{{ quote_form }}
								<button class="fill submit_quote" >Go</button>
							</form>
						<br>
						</div>
						<div data-title="main_feature" class="section choose_article">
							Main feature
						</div>
						<div data-title="daily_column" id="dc_toggle" class="section derived toggles_div choose_article">
							Daily column 
						</div>
						<div class="dc_toggle" hidden>
							<br>
							<ul data-page="home">
								{% for column in columns %}
								<li class="section fill day" data-title="daily_column" data-num="{{ forloop.counter|add:'-1' }}" style="">{{ column.day }} -> {% if column.writer %}{{ column.title }} by {{ column.writer|format_name:'long' }}{% else %} None{% endif %}</li>
								{% endfor %}
								<select style="width:90%;display:inline-block;" name="" id="select_column" style="" data-url="{% url 'weal:select_column' %}" >
								<option value="None"> Choose Columns </option>
								{% for writer, title in writers_columns.items %}
								<option value="{{ writer }}">{{ title }} by {{ writer|format_name:'long' }}</option>
								{% empty %}
								<option value="None">Sorry! No columns here</option>
								{% endfor %}
								</select>
							<button class="submit_column fill" style="width:90%;">Go</button>
							</ul>
						</div>
						<div data-title="secondary" class="section choose_article">
							Secondary
						</div>
						<div data-title="tertiaries" id="tertiary_list" class="section choose_article derived toggles_div" >
							Tertiaries
						</div>
						<div class="tertiary_list" hidden>
							<br>
							<ul data-page="home">
								{% for x in '012' %}
								<li class="section choose_article" data-title="tertiaries" data-num="{{ x }}" style="display:inline-block;margin-right:20px;">Post - {{ x|add:'1' }}</li>
								{% endfor %}
							</ul>
						</div>
						<div data-title="features" id="features_list" class="section derived choose_article toggles_div" >
							Features
						</div>
						<div class="features_list"  hidden>
							<br>
							<ul data-page="home">
								{% for x in '0123' %}
								<li class="section choose_article" data-title="features" data-num="{{ x }}" style="display:inline-block;margin-right:20px;">Post - {{ x|add:'1' }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<br>
					<div class="article_box">
						<a id="allocate_business_form" class="toggles_div2" style="padding:10px;" data-group="s_pages">Business & Economy</a>
					</div>
					<br>
					<div class="allocate_business_form article_box s_pages" class="columns small-12" style="padding:10px;" data-page="Business_&_Economy" hidden>
						<ol>
							{% for sector in sectors %}
							<li data-title="sector_{{ sector }}" id="sector_{{ sector }}" class="toggles_div2 section derived" data-group="sectors">
								{{ sector|pretty_category }}
							</li>
							<div class="sector_{{ sector }} sectors" hidden>
								<ul data-page="b_e">
									<li data-title="main_feature" data-sector="{{ sector }}" data-num="{{ x }}" class="section choose_article">
										Main feature
									</li>
									<li data-page="b_e">
										Features:
										{% for x in '01234567' %}
										<li class="section choose_article" data-title="features" data-sector="{{ sector }}" data-num="{{ x }}" style="display:inline-block;margin-right:20px;">Post - {{ x|add:'1' }}</li>
										{% endfor %}
									</li>
								</ul>
							</div>
							{% endfor %}
						</ol>
					</div>
					<br>

					<div class="article_box">
						<a id="allocate_reports_form" class="toggles_div2" style="padding:10px;" data-group="s_pages">Market Reports</a>
					</div>
					<br>
					<div class="allocate_reports_form article_box s_pages" class="columns small-12" style="padding:10px;" data-page="Market_Reports" hidden>
						<div data-title="" id="new_report" data-url="{% url 'weal:allocate_report' %}" class="">
							<form method="post" id="report_form" enctype="multipart/form-data">
								{% csrf_token %}
								<h5>
									Please upload .pdf file
								</h5>

								{{ report_form.pdf }}
								<br>
								Industry report? {{ report_form.industry }}
								<br>
								{{ report_form.title.label }}<label for="summary" style="color:red"> ** Required for Industry Reports **</label>
								{{ report_form.title }}
								{{ report_form.summary.label }}<label for="summary" style="color:red"> ** Required for Industry Reports **</label>
								{{ report_form.summary }}
								<label for="author">Author</label>
								{{ report_form.author }}
								<label for="week_ending">Week ending</label>
								<input type="date" name="week_ending" id="id_week_ending" style="width:80%;display:inline-block;">
								<button class="submit_report" style="width:15%;display:inline-block;">Go</button>
							</form>
						</div>
						<br>
						<form action="#" class="delete_report_form" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="columns small-12 medium-9">
									<select name="" data-url="{% url 'weal:del_report' %}" id="delete_report" class="fill">
										<option value="None">Delete a report?</option>
										{% for report in reports %}
											<option class="report_option_{{ report.pk }}" value="{{ report.pk }}">{{ report.week_ending }} by {{ report.author }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="columns small-12 medium-3">
									<button type="submit" style="background-color:#FF4747" class=" fill">
										Del
									</button>
									<script type="text/javascript">
									$.ajaxSetup({
										data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
									})</script>
								</div>
							</div>
						</form>
					</div>
					<br>

					<div class="article_box">
						<a id="e_data_form" class="toggles_div2" style="padding:10px;" data-group="s_pages">Economic Data</a>
					</div>
					<br>
					<div class="e_data_form article_box s_pages" class="columns small-12" style="padding:10px;"  hidden>
						<div id="economic_data" class="">
							<form method="post" action = "{% url 'weal:economic_data' %}" id="economic_data_form" enctype="multipart/form-data">
								{% csrf_token %}
								{{ economic_data_form }}
								<button class="submit_economic_data" style="width:15%;display:inline-block;">Go</button>
							</form>
						</div>
					</div>
					<br>
					<form method="post" id="reload_page_form" action = "{% url 'weal:reload' %}" enctype="multipart/form-data">
						{% csrf_token %}
						<select style="width:80%;display:inline-block;" name="page" id="id_reloader">
							<option selected disabled value="None">Reload a page</option>
							<option value="index">Reload Home page</option>
							{% for sector in sectors %}
							<option value="business,{{ sector }}">Reload {{ sector|pretty_category }} sector</option>
							{% endfor %}
							<option value="reports">Reload Market Reports</option>
						</select>
						<button style="width:15%;display:inline-block;">Go</button>
					</form>
					<script>
						$(document).ready(function(){
							$("#reload_page_form").submit(function(event){
								if(this.page.value === "None"){
									event.preventDefault();
									return false;
								}else{
									confirm('Are you sure you want to reload this page?');
									return true;
								}
							});
						})
					</script>
					<br>
				</div>
			</div>
		</div>
	</div>
{% endblock %}