{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block page_title_block %}
<br>
<br>
	<div class="row">
		<div class="columns small-11 small-centered" style="padding-left:0px;">
			<h1>Stears Allocator</h1>
		</div>
	</div>
	<br>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="columns small-11 small-centered">
			<a href="{% url 'weal:preview' pk=pk %}">View WEAL template</a>
			<a href="{% url 'weal:preview' pk=pk %}">Preview article to be allocated</a>
			<div class="row">
				<div class="columns small-12 medium-6 large-4">
					<div class="article_box">
						
					</div>
				</div>
				<div class="columns small-12 medium-6 large-4">
					<div class="article_box">
						
					</div>
				</div>
				<div class="columns small-12 medium-6 large-4">
					<div class="article_box">
						
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}