{% load stears_tags %}
<div>
	<br>
	<div class="row article_button article_box {{ article.state }} {{ article.category.split|join:"_" }} {{ article.time }}" style='{% if article.writer %}{% else %}background-color:#D5EBFE{% endif %}'>
	<div class="columns small-6 ">
		{% if article.binned %}
			<font {% ifequal article.category 'stearsTutorial' %}style="color:#6CBC36;"{% endifequal %}>{{ article.headline }}</font>
			<form action="{% url 'stears:revive' %}" method="post">
			{% csrf_token %}
			<button type="submit" style="display:inline-block;padding-botom:2px;" name="article_id" value="{{ article.article_id }}">Revive</button>
		</form>
		{% else %}
			{% if user.username|writer_can_see:article %}
				<a href="{% url 'stears:article_detail' pk=article.article_id %}" >
					<font {% ifequal article.category 'stearsTutorial' %}style="color:#6CBC36;"{% endifequal %}>{{ article.headline }}</font>
				</a>
			{% else %}
					<font {% ifequal article.category 'stearsTutorial' %}style="color:#6CBC36;"{% endifequal %}>{{ article.headline }}</font>
			{% endif %}

			{% ifequal article.state 'in_review' %}
			{% ifequal article.reviewer user %}
				<a href="{% url 'stears:review' pk=article.article_id %}" style="padding-left:10px;color:red;">
					Review?
				</a>
			{% endifequal %}
			{% endifequal %}
			
		{% endif %}
	</div>
	<div class="columns small-6 medium-3 ">
		<!-- {% ifequal article.visible False%}
			{{ article.category|pretty_category }}<font color="red">(Requested)</font>
		{% else %} 
			{% endifequal %}-->
			{{ article.category|pretty_category }}
	</div>
	<div class="columns small-6 medium-3 ">
		<strong>
		{% if article.writer %}
			{% if user|is_editor %}
				{% if article.writer %}
					<a href="{% url 'stears:writer_detail' article.writer %}">
						{{ article.writer|format_name:'long' }}
					</a>
				{% endif %}
			{% else %}
				{{ article.writer|format_name:'long' }}
			{% endif %}
		{% endif %}
		</strong>
	</div>
	<div class="columns medium-6 hide-for-small">
		{{ article.time|nse_date2 }}
	</div>
	<div class="columns small-6">
		<strong>
		{{ article.state|format_name:"long" }}
		</strong>
	</div>
</div>

</div>