{% load stears_tags %}
<div>
	<br>
	<div class="row article_button article_box {{ article.state }} {{ article.category.split|join:"_" }} {{ article.time }}" style='{% if article.writers|get_value:"original" %}{% else %}background-color:#D5EBFE{% endif %}'>
		<div class="columns small-6 ">
			{% if article.binned %}
				<font {% ifequal article.category 'stearsTutorial' %}style="color:#6CBC36;"{% endifequal %}>{{ article.headline }}</font>
				<form action="{% url 'weal:revive' %}" method="post">
					{% csrf_token %}
					<button type="submit" style="display:inline-block;padding-botom:2px;" name="article_id" value="{{ article.article_id }}">Revive</button>
				</form>
			{% else %}
				<a {% ifequal article.state 'site_ready' %}href="{% url 'weal:preview' pk=article.article_id %}"{% else %}href="{% url 'weal:article_detail' pk=article.article_id %}"{% endifequal %}  >
					<font {% ifequal article.category 'stearsTutorial' %}style="color:#6CBC36;"{% endifequal %}>{{ article.headline }}</font>
				</a>
			{% endif %}
		</div>
		<div class="columns small-6 medium-3 ">
				{{ article.category|pretty_category }}
		</div>
		<div class="columns small-6 medium-3 ">
			<strong>
				<a href="{% url 'weal:writer_detail' article.writers.original %}">
					{{ article.writers|get_value:'original'|format_name:'long' }}
				</a>
			</strong>
		</div>
		<div class="columns medium-6 hide-for-small">
			{{ article.time|nse_date2 }}
		</div>
		<div class="columns small-6">
			<strong>
			{{ article.state|format_name:"long" }}
			</strong>
		</div>
	</div>
</div>