{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block page_title_block %}
{% endblock %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block writers_block %}
	<head>
		<script type="text/javascript" src="/static/js/stears/tooltip.js"></script>
	</head>
	<br>
	<br>
	<div class="row fill">
		<div class="columns small-12 small-centered">
			<div class="row fill">
				<div class="columns small-12 large-9">
					<br>
					<div class="fill" style="padding-left:15px;padding-right:15px;">
						<div class="row">
							{% for field in key_words_form %}
								{% if field.errors %}
									<h3 style="color:#FF4747;">
									{{ field.errors }}
									</h3>
								{% endif %}
							{% endfor %}
						</div>
						<br>
					</div>
					<div class="fill review_toggle" hidden>
						<div class="row fill">
							<div class="columns small-12">
								<div class="article_box">
									{% for name, value in article.reviews.0.items %}
										{% ifnotequal name 'time' %}
											<div class="row">
												<div class="columns small-4">
													{{ name|pretty_category }}
												</div>
												<div class="columns small-4">
													<a class="masterTooltip" title="{{ name|get_long_tip:value }}">{{ name|get_short_tip:value }}</a>
												</div>
												<div class="columns small-4">
													<div class="{{value}}_indicator" style="">
													</div>
												</div>
											</div>
										{% endifnotequal %}
										{% empty %}
										No reviews
									{% endfor %}
								</div>
							</div>
						</div>
						<br>
					</div>
					<div class="fill summary_toggle" hidden>
						<div class="row fill">
							<div class="columns small-12">
								<div class="article_box">
									Add/Edit summary: (max: 110 characters)
									<form action="{% url 'weal:summary' %}" class="weal_ajax_form" data-url="{% url 'weal:summary' %}" data-result="article_summary" id="id_summary_form" method="post">
										{% csrf_token %}
										<input type="text" name="pk" id="id_pk" value="{{ article.article_id }}" style="display:none">
										<input type="text" style="width:80%;display:inline-block;" name='summary' id="id_summary" maxlength='110'>
										<button style="width:5%;display:inline-block;min-width:50px;" type="submit">Go</button>
									</form>
								</div>
							</div>
						</div>
						<br>
					</div>
					{% if article.summary %}
						<div class="article_box" >
							<h5 id="article_summary" class="updated">
								<strong>{{ article.summary }}</strong>
							</h5>
						</div>
					{% else %}
						<div class="article_box" >
							<h5 id="article_summary" data-value="default">
								<strong>No Summary</strong>
							</h5>
						</div>
					{% endif %}
					<br>
					<div class="fill" >
						{% if article.writer %}
							{% if user.username|can_write:article %}
								<div class="row" style="padding-left:15px;padding-right:15px;">
									<div class="fill article_box" >
										<a id="article_form_toggle"  style="padding:10px;">Write/Edit article</a>
									</div>
									<div id="hidden_article_form" class="columns small-12" style="padding:0px;" hidden>
										<br>
										{% include 'stears/write_form.html' %}
									</div>
								</div>
							{% else %}
								<div class="row" style="padding-left:15px;padding-right:15px;">
									<div class="article_box">
										<strong>
										Sorry, you can't edit this article
										</strong>
									</div>
								</div>
							{% endif %}
						{% else %}
							<div class="row" style="padding-left:15px;padding-right:15px;">
								<div class="shadowbox article_box" >
									<a id="article_form_toggle">Write new NSE Tier 1 article</a>
								</div>
								<div id="hidden_article_form" class="columns small-11 " hidden>
									<br>
									<div  class="home_box" style="background-color:white;padding:30px;">
										{% include 'stears/write_form.html' %}
									</div>
								</div>
							</div>
							{% include "stears/nse_versions.html" %}
						{% endif %}
						<br>
						<div class="row" style="padding-left:15px;padding-right:15px;">
							<div class="article_box toggles_div" id="photo_div">
								<a style="padding-left:10px;" id="article_photo_link" {% if article.photo %}data-link="Y"{% else %}data-link="N"{% endif %} href="#">Photo</a> 
							</div>
							<br>
							<div class="photo_div" hidden>
								{% if article.photo %}<img src="{{ article.photo }}" alt="">
								{% else %}
								<strong>
									Sorry! no photo has been added
								</strong>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="fill">
						<div class="columns small-12 small-centered article_box">
							<table >
								<tr >
									<td>
										Title
									</td>
									<td>
										<strong>{{ article.headline }}</strong>
									</td>
								</tr>
								{% if article.writer %}
									{% if article.nse_article_id != '0' %}
										<tr>
											<td>
												Related NSE article
											</td>
											<td>
												<a href="{% url 'weal:article_detail' pk=article.nse_article_id %}">{{ article.nse_article_id|get_headline }}</a>
											</td>
										</tr>
									{% endif %}
								{% endif %}
							</table>
							<div class="article_box" id="ajax_article_content">
								{% autoescape off %}
								{{ article.content }}
								{% endautoescape %}
						</div>
						<table>
							<tr>
								<td>
									Category
								</td>
								<td>
									{{ article.category|pretty_category }}
								</td>
							</tr>
							<tr>
								<td>
									Writer
								</td>
								<td>
									{% if article.writer %}
										{% if user.username|is_editor %}
											<a href="{% url 'weal:writer_detail' article.writer %}">
												{{ article.writer|format_name:'long' }}
											</a>
										{% else %}
											{{ article.writer|format_name:'long' }}
										{% endif %}
									{% endif %}
								</td>
							</tr>
							{% if article.writers.others %}
								<tr>
									<td>
										Other writers
									</td>
									<td>
										{% for writer in article.writers.others %}
											{% if user.username|is_editor %}
												<a href="{% url 'weal:writer_detail' writer %}">{{ writer|format_name:'long' }}, </a>
											{% else %}
												{{ writer|format_name:'long' }},
											{% endif %}
											
										{% endfor %}
									</td>
								</tr>
							{% endif %}
							<tr>
								<td>
									Status
								</td>
								<td>
									<strong>
									{{ article.state|format_name:'long' }}
									</strong>
								</td>
							</tr>
							{% if user|is_editor %}
								{% if article.reviewer %}
									<tr>
										<td>
											Reviewer
										</td>
										<td>
											<strong>
											{{ article.reviewer }}
											</strong>
										</td>
									</tr>
								{% endif %}
							{% endif %}
						</table>
					</div>
				</div>
				<div>
					<form method="POST" action="#" data-url="{% url 'weal:remove_tag' article.article_id %}" id="remove_tag_form">
						<div hidden>
							<div class="tag_wrapper" id="example_tag">
								<a href="#"  class = "button2 tag_button tag_button_view" data-tag="placeholder" data-url="{% url 'weal:remove_tag' article.article_id %}">
									placeholder
								</a>, 
							</div>
						</div>
						{% csrf_token %}
						{% if user.username|can_write:article %}
							<h6 style="color:red;">
								Click tags to delete
							</h6>
							<div class="tag_container">
								{% for word in article.keywords %}
									<div class="tag_wrapper" >
										<a href="#"  class = "button2 tag_button tag_button_view" data-tag="{{ word }}" data-url="{% url 'weal:remove_tag' article.article_id %}">
											{{ word }}
										</a>, 
									</div>
								{% endfor%}
							</div>
						{% else %}
							{% for word in article.keywords %}
								<div class="tag_container">
									<div class="" style="display:inline-block">
										<div href="#" class="tag_button_view">
											{{ word }}
										</div>
									</div>,
								</div>
							{% endfor%}
						{% endif %}
					</form>
					<div id="keyword_area" {% if key_words_form.errors %}{% else %}hidden{% endif %}>
						<br>
						{% include 'stears/keywords_form.html' %}
					</div>
			</div>
		</div>
		
		<div class="columns small-12 medium-5 large-3 medium-centered large-uncentered" style="max-width:400px;">
			<br>
			<div class="row">
				<br>
				<div class="article_box columns small-11 small-centered">
					<strong>
					Options
					</strong>
					<h6 style="float:right;" class="toggles_div" id="article_options">
					<a href="#" >Show/Hide</a>
					</h6>
				</div>
				<div class="article_options">
					<div class="row">
						<button id="comment_area" class="toggles_div fill" style="border-radius:3px;" >Comment</button>
					</div>
					{% if user|is_editor %}
					<div class="row">
						<button class="fill toggles_div" id="summary_toggle">Add Summary</button>
					</div>
					<div class="row fill article-box">
						<form action="{% url 'weal:prepreview' pk=article.article_id %}" method="get">
							<button class="fill">Preview</button>
						</form>
					</div>
					<div class="row">
						<form action="{% url 'weal:addphoto' pk=article.article_id %}" method='post' class="add_photo" hidden>
							{% csrf_token %}
							{{ add_photo_form }}
							<button type="submit" class="fill toggles_div" name="article_id" value="{{ article.article_id }}">Go</button>
							<button style="background-color:#FF4747;" class="fill toggles_div cancel_button" id="add_photo" >Cancel</button>
						</form>
						<button class="fill toggles_div add_photo" id="add_photo" >
						{% if article.photo %}
							Change Photo
						{% else %}
							Add Photo
						{% endif %}</button>
					</div>
					{% else%}
						{% ifequal user.username article.writer %}
							<div class="row">
								<button class="fill toggles_div" id="summary_toggle">Add Summary</button>
							</div>
							<div class="row">
								<form action="{% url 'weal:addphoto' pk=article.article_id %}" method='post' class="add_photo" hidden>
									{% csrf_token %}
									{{ add_photo_form }}
									<button type="submit" class="fill toggles_div" name="article_id" value="{{ article.article_id }}">Go</button>
									<button style="background-color:#FF4747;" class="fill toggles_div cancel_button" id="add_photo" >Cancel</button>
								</form>
								<button class="fill toggles_div add_photo" id="add_photo" >
								{% if article.photo %}
									Change Photo
								{% else %}
									Add Photo
								{% endif %}</button>
							</div>
						{% endifequal %}
					{% endif %}
					{% ifequal user.username article.writer %}
						{% ifequal article.state 'in_progress' %}
							<div class="row">
								<form action="{% url 'weal:add_writer' %}" method="post" class="add_writers" hidden>
									{% csrf_token %}
									{{ add_writers_form }}
									<button type="submit" class="fill toggles_div" id="add_writers" name="article_id" value="{{ article.article_id }}">Save writer(s)</button>
									<button style="background-color:#FF4747;" class="fill toggles_div cancel_button" id="add_writers" >Cancel</button>
								</form>
								<button type="submit" class="fill toggles_div add_writers" id="add_writers" >Add writer(s)</button>
							</div>
							{% if article.writers.others %}
								<div class="row">
									<form action="{% url 'weal:remove_writer' %}" method="post" class="remove_writers" hidden>
										{% csrf_token %}
										{{ remove_writers_form }}
										<button type="submit" class="fill toggles_div" id="remove_writers" name="article_id" value="{{ article.article_id }}">Remove</button>
										<button class="fill toggles_div cancel_button" id="remove_writers" >Cancel</button>
									</form>
									<button type="submit" class="fill toggles_div remove_writers" id="remove_writers" >Remove writer(s)</button>
								</div>
							{% endif %}
						{% endifequal %}
					{% endifequal %}
					{% if user.username|is_editor %}
						{% ifequal article.type 'writers_article' %}
							<div class="row">
								<form action="{% url 'weal:delete_article' %}" method="post" id="delete">
									{% csrf_token %}
									<button type="submit" class="fill delete" name="article_id" value="{{ article.article_id }}">Delete</button>
								</form>
							</div>
						{% endifequal %}
					{% endif %}
					{% if user.username|can_suggest:article %}
						<div class="row">
							<form action="{% url 'weal:suggest_nse_article' %}" method="post" id="assign">
								{% csrf_token %}
								{{ suggest_form }}
								<button type="submit" class="fill" name="article_id" value="{{ article.article_id }}">Suggest</button>
							</form>
						</div>
					{% endif %}
					{% if user.username|can_approve:article %}
						<div class="row">
							<form action="{% url 'weal:approve_article' %}" method="post" id="approve">
								{% csrf_token %}
								<button type="submit" class="fill" name="commit_id" value="{{ article.article_id }}">Approve</button>
							</form>
						</div>
						<div class="row">
							<form action="{% url 'weal:approve_article' %}" method="post" id="reject">
								{% csrf_token %}
								<button type="submit" class="fill" name="reject_id" value="{{ article.article_id }}">Reject</button>
							</form>
						</div>
					{% endif %}
					{% ifequal article.visible False %}
						{% if user.is_superuser %}
							<div class="row">
								<p>
									<strong>
									{{ article.writer }} can write this article as {{ article.category|pretty_category }}?
									</strong>
								</p>
							</div>
							<div class="row">
								<div class="columns small-6">
									<form action="{% url 'weal:accept_article' %}" method="post" id="accept">
										{% csrf_token %}
										<button type="submit" class="fill" name="accept_id" value="{{ article.article_id }}">Yes</button>
									</form>
								</div>
								<div class="columns small-6">
									<form action="{% url 'weal:accept_article' %}" method="post" id="accept">
										{% csrf_token %}
										<button type="submit" class="fill" name="not_accept_id" value="{{ article.article_id }}">No</button>
									</form>
								</div>
							</div>
						{% endif %}
					{% endifequal %}
					{% if user.username|can_write:article %}
						<div class="row">
							<button id="keyword_area_button"  class="fill">Edit tags</button>
						</div>
					{% endif %}
					{% ifequal article.state 'in_review' %}
						{% ifequal article.reviewer user.username %}
							<div class="row">
								<form method="get" action="{% url 'weal:review' pk=article.article_id %}">
									<button class="fill" type="submit">Review</button>
								</form>
							</div>
						{% endifequal %}
					{% endifequal %}
					{% if user.username|is_editor %}
						<div class="row">
							<button class="fill toggles_div" id="review_toggle">View reviews</button>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns small-12 large-9">
			<div  class="comment_area fill" style="padding-left:15px;padding-right:15px;" {% if comment_form.errors %}{% else %}hidden{% endif %}>
			<div class="row">
				{% for field in comment_form %}
					{% if field.errors %}
						<h3 style="color:#FF4747;">
						{{ field.errors }}
						</h3>
					{% endif %}
				{% endfor %}
				{% include 'stears/comment_form.html' %}
			</div>
			<br>
		</div>
		<br>
		<div class="fill" style="padding-left:15px;padding-right:15px;">
			{% if article.comments %}
				<h3>
				Comments
				</h3>
				<br>
				{% for comment in article.comments reversed %}
					{% include 'stears/comment_button.html' %}
					<br>
				{% endfor %}
				<br>
				<br>
				<br>
				<br>
				<br>
			{% endif %}
		</div>
	</div>
</div>
</div>
</div>
<script src="/static/js/stears/article_detail.js"></script>
<script src="/static/js/stears/ajaxgen.js"></script>
{% endblock %}