
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/foundation.css">
        <link rel="stylesheet" href="/static/css/stears.css">
        <script src="/static/js/vendor/modernizr.js"></script>

        <style>
		body{
			background-color: #efefef;
		}
        </style>
</head>
<body>
	
<!--     <img src="{% static "images/sitelogo.png" %}" alt="Logo" /> -->
    {% block content %}{% endblock %}



<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/foundation.min.js"></script>
<script>
$(document).foundation();
</script>
</body>
</html>