{% extends 'stears/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="row" style = "padding-top:10%;">
    <div class="columns small-12 medium-6 large-5 small-centered">
      <div class="home_box">
        <div class="row" style = "padding:5%;">
          <h4 style="font-family:'Courier New'">Change your password</h4>
          {% if errors %}
            <table>
              {% for error in errors %}
                <tr><td><strong>{{ error }}</strong></td></tr>
              {% endfor %}
            </table>
          {% endif %}
          <form id="change_password_form" method="post" action="{% url 'stears:change_password' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            {{ change_password_form }}
            <button type="submit" class="button2 fill" >Go</button>
          </form>
        </div>
        <div class="row" style = "padding:5%;">
          <strong>
          <div>
            <p>
            Did you <a href="{% url 'stears:forgot_password' %}">forget your password or username?</a>
            </p>
            <p>
            Dont have a writers account?
            </p>
            <p>
            Please <a href="{% url 'stears:register' %}">Sign Up</a> to request a writers account
            </p>
          </div>
          </strong>
        </div>
      </div>
    </div>
  </div>
{% endblock %}