{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% load name %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block page_title_block %}

{% endblock %}
{% block writers_block %}
	<br>
	<br>

	<div class="row" >
		<div class="columns small-11 small-centered" style="padding:0px;">
			<a href="{% url 'weal:add_column' %}" >
				<button>Add/Edit your column</button>
			</a>
		</div>
	</div>

	<br>
	<br>
	<div class="row">
		<div class="columns small-11 small-centered">
			{% for column in columns %}
				<div class="row article_button article_box " >
					<div class="columns small-6 ">
						<a href="{% url 'weal:preview_column' column_id=column.column_id %}">
							{{ column.title }} by {{ column.writer|name:'long' }}
						</a>
					</div>
					{% if user|is_editor %}
						<div class="columns small-3">
							<div class="row fill">
								{% ifequal column.state 'active' %}
									<div class="columns small-12">
										<form action="{% url 'weal:retract_column' column_id=column.column_id %}" method="post">
											{% csrf_token %}
											<button class="fill button3">Retract</button>
										</form>
									</div>
								{% else %}
									<div class="columns small-12">
										<form action="{% url 'weal:launch_column' column_id=column.column_id %}" method="post">
											{% csrf_token %}
											<button class="fill button3">Launch</button>
										</form>
									</div>
								{% endifequal %}
							</div>
						</div>
					{% endif %}
				</div>
				<br>
			{% endfor %}
		</div>
	</div>
{% endblock %}