<head>
	<script type="text/javascript" src="/static/wymeditor/jquery.wymeditor.min.js"></script>
	<script type="text/javascript" src="/static/js/stears/wym_catch_paste.js"></script>
	<link rel="stylesheet" href="/static/wymeditor/skins/default/skin.css">
	<script type="text/javascript" src="/static/js/stears/wym_comment.js"></script>
</head>

{% if comment_form %}
	<form method="POST" id="comment_form" action="{% url 'weal:comment' pk=article.article_id %}">
		{% csrf_token %}
			<h3>
			Leave a comment
			</h3>
			<h6>
				Comment below
			</h6>

		<textarea class="wymeditor comment_editor" rows="4" cols="50"></textarea>

		<button class=" fill comment submit-comment" data-url="{% url 'weal:comment' pk=article.article_id %}" type="submit" >Post comment</button>
	</form>

	<script type="text/javascript">
		$.ajaxSetup({
			data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
		})
	</script>

{% else %}
	<h3>
	Oops, we're afraid you can't comment on this Article :-(
	Please contact your editor
	</h3>
{% endif %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script> $.validate(); </script>
