{% if comment_form %}
	<form method="POST" action="{% url 'stears:comment' pk=article.article_id %}">
		{% csrf_token %}
			<h3>
			Leave a comment
			</h3>
			<h6>
				Comment below
			</h6>
			<p>
				{{ comment_form.comment }}
			</p>
		<button class=" fill comment submit-comment" type="comment" >Post comment</button>
	</form>
{% else %}
	<h3>
	Oops, we're afraid you can't comment on this Article :-(
	Please contact your editor
	</h3>
{% endif %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script> $.validate(); </script>
