{% extends 'stears/writers_base_test.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="row" style = "padding-top:10%;">
    <div class="columns small-12 medium-6 large-5 small-centered">
      <div class="home_box">
        <div class="row" style = "padding:5%;">
          <h4 >Forgot your password?</h4>
          {% if errors %}
            <table>
              {% for error in errors %}
                <tr><td><strong>{{ error }}</strong></td></tr>
              {% endfor %}
            </table>
          {% endif %}
          <br>
          {% if forgot_password_form %}
            <!-- <form id="forgot_password_form" method="post" action="{% url 'stears:forgot_password' %}"
              enctype="multipart/form-data">
              {% csrf_token %}
              {{ forgot_password_form }}
              <button type="submit"  class="button2 fill" >Go</button>
            </form> -->
            <h2>
              We are sorry but are unable to change your password at this time! Please contact your administrator. :-(
            </h2>
          {% else %}
            <br>
            <p>
            <strong>We have sent you an email to help you out! :-D</strong>
            </p>
          {% endif %}
        </div>
        <div class="row" style = "padding:5%;">
            <strong>
            <div>
              <p>
              Dont have a writers account? Please <a href="{% url 'stears:register' %}">Sign Up</a> to request a writers account
              </p>
            </div>
            </strong>
        </div>
      </div>
    </div>
  </div>
{% endblock %}