{% if key_words_form %}
	<form method="POST" id="tag_form" action="{% url 'weal:tag' pk=article.article_id %}">
		{% csrf_token %}
		<h3>
		Add tags to this article
		</h3>
		<h6>
		Only alphabetical characters allowed. And one word at a time
		</h6>
		<table>
			<tr>
			<td>
				<h6>
					Choose tag
				</h6>
				{{ key_words_form.tags }}
			</td>
			<td>
				<h6>
				{{ key_words_form.other.label }}
				</h6>
				{{ key_words_form.other }}
			</td>
		</tr>
		</table>
		<button class=" fill comment" type="keywords" >Save tag</button>
	</form>
{% else %}
	<h3>
	Oops, we're afraid you can't save key words on this Article :-(
	Please contact your editor
	</h3>
{% endif %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$.validator.addMethod("tagRegex", function(value, element) {
	return this.optional(element) || ($('#id_tags').val() != 'None') || (/^\w[\w\-\s]+$/i.test(value) && (value != 'None'));
	}, "Please choose a tag, or create one");

	$("#tag_form").validate({
	 rules: {
	 	"other": { tagRegex: true},
	 },
	});
});
</script>