{% if key_words_form %}
	<form method="POST" action="{% url 'stears:article_detail' pk=article.article_id %}">
		{% csrf_token %}
			<h3>
			Add tags to this article
			</h3>
			<h6>
				Only alphabetical characters allowed. And one word at a time
			</h6>
			<p>
				{{ key_words_form.keywords }}
			</p>
		<button class=" fill comment" type="keywords" name="article_id" value="{{ article.article_id }}" >Save tag</button>
	</form>
{% else %}
	<h3>
	Oops, we're afraid you can't save key words on this Article :-(
	Please contact your editor
	</h3>
{% endif %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script> $.validate(); </script>