{% load stears_tags %}
<br>
<br>
<div class="row fill" >
	<div class="columns small-12 medium-4" style="padding:0px;">
		<tr>
			<td >
				<select class="article_button_sorter" {% if nostates %}hidden{% endif %}>
					<option value="all">All States</option>
					<option value="in_progress">In progress</option>
					<option value="submitted">Submitted</option>
				</select>
			</td>
			<td>
				<select class="article_button_sorter" {% if nocategories %}hidden{% endif %}>
					<option value="all">All Categories</option>
					<option value="stearsTier_1">Tier 1</option>
					<option value="stearsTier_2">Tier 2</option>
					<option value="stearsColumns">Columns</option>
					<option value="stearsExplorative">Explorative</option>
					<option value="stearsOther">Other</option>
				</select>
			</td>
		</tr>
	</div>
</div>
<div class="row fill">
	<div class="columns small-12 small-centered ">
		{% for article in articles %}
			{% include 'stears/article_button.html' %}
			{% if forloop.last %}
				<hr>
			{% endif%}
		{% endfor %}
	</div>
</div>
<script src="/static/js/stears/sorts.js"></script>