{% extends 'stears/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="row" style = "padding-top:10%;">
    <div class="columns small-12 medium-6 large-5 small-centered">
      <div class="home_box">
        <div class="row" style = "padding:5%;">
          <h4 style="font-family:'Courier New'">Login to Stears Writers</h4>
          {% if errors %}
            <table>
              {% for error in errors %}
                <tr><td><strong>{{ error }}</strong></td></tr>
              {% endfor %}
            </table>
          {% endif %}
          <form id="user_form" method="post" action="{% url 'stears:login' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <p>
              <h6>
                {{ login_form.email.label }}
              </h6>
              {{ login_form.email }}
            </p>
            <p>
              <h6>
                {{ login_form.password.label }}
              </h6>
              {{ login_form.password }}
            </p>
            <button class="button2 fill" type="submit" name="submit" value="Register" >Login</button>
          </form>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
          <script> $.validate(); </script>
        </div>
        <div class="row" style = "padding:5%;">
          <strong>
          <div>
            <p>
            <a href="{% url 'stears:change_password' %}">Change your password</a>
            </p>
            <p>
            Did you <a href="{% url 'stears:forgot_password' %}">forget your password or username?</a>
            </p>
            <p>
            Dont have a writers account?
            </p>
            <p>
            Please <a href="{% url 'stears:register' %}">Sign Up</a> to request a writers account
            </p>
          </div>
          </strong>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}