{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}

{% block page_title_block %}
{% endblock %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block writers_block %}
	<div class="row " style="padding:20px;">
		<div class="columns small-12 small-centered" style="padding:0px;">
			<div class="article_box toggles_div" id="upload_doc_toggle" style="padding-left:40px;" >
				{{ form.errors }}
				<a href="#">Upload a new picture?</a> <font color="red" style="padding-left:10px;">jpg/png only, max: 2.5MB</font>
			</div>
			<br>
			<div class="article_box upload_doc_toggle" hidden>
				<form method="POST" style="padding:30px;" action="{% url 'weal:photos' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="columns small-12 medium-6">
							{{ form.title.label }}
							{{ form.title }}
						</div>
						<div class="columns small-12 medium-6">
							{{ form.source.label }}
							{{ form.source }}
						</div>
						<div class="columns small-12">
							{{ form.description.label }}
							{{ form.description }}
						</div>
					</div>
					<p style="display:inline-block">
						{{ form.docfile.label }}
					</p>
					<p style="display:inline-block;">
					{{ form.docfile }}
					</p>
					<button class="fill" type="submit">upload</button>
				</form>
			</div>
		</div>
	</div>
	<div class="row" style="padding:20px;">
		{% if photos %}
			{% if user|is_editor %}
				{% for photo in photos reversed %}
					<div class="columns small-12 medium-4 large-3" id="photo_{{photo.pk}}">
						<br>
						<div class="article_box" style="width:100%;padding:5px;display:inline-block;margin-bottom:5px;margin-top:5px;" >
							<img src="{{ photo.picker.url }}" class="toggles_div21" id="photo_option_{{ photo.pk }}" data-group="photo_options" style="width:100%;">
							<div class="row photo_option_{{photo.pk}} photo_options" hidden>
								<div class="columns small-12"><strong>Title: </strong> <font class="photo_{{ photo.pk }}_title">{{ photo.title }}</font></div>
								<div class="columns small-6" style="padding:0px;padding-right:2.5px;">
									<button class="copy-button fill" data-clipboard-text="{{ photo.docfile.url }}" style="margin-bottom:0px;margin-top:5px;">Copy URL</button>
								</div>
								<div class="columns small-6" style="padding:0px;padding-left:2.5px;">
									<form data-url="{% url 'weal:delete_photo' %}" method="POST" class="delete_photo_form">
										{% csrf_token %}
										<input type="text" name='pk' id="id_pk" value="{{ photo.pk }}" style="display:none">
										<button type="submit" class="fill confirm-submission" style="margin:0px;margin-top:5px;background-color:#FF4747;">Delete</button>
									</form>
								</div>
								<div class="columns small-12">
									<strong>Description: </strong><font class="photo_{{ photo.pk }}_description">{{ photo.description }}</font>
									@<a href="{{ photo.source }}" class="photo_{{ photo.pk }}_source" style="word-break:break-word;" target="_blank">{{ photo.source }}</a>

									<button class="toggles_div2 fill" style="margin-bottom:0px;margin-top:5px;" id="edit_{{ photo.pk }}" data-group="edit_photo">Edit</button>
								</div>
								<div class="columns small-12 edit_{{ photo.pk }}" data-group="edit_photo" hidden>
									<form data-url="{% url 'weal:edit_photo' %}" method="POST" class="edit_photo_form" id='edit_photo_{{ photo.pk }}' data-update='0'>
										{% csrf_token %}
										<div class="row" id="edit_photo_form_data">
											<div class="columns small-12 ">
												Title
												<input id="id_title" maxlength="50" name="title" type="text" value="{{ photo.title }}">
											</div>
											<div class="columns small-12 ">
												Source
												<input id="id_source" maxlength="100" name="source" type="text" value="{{ photo.source }}">
											</div>
											<div class="columns small-12">
												Description
												<input id="id_description" maxlength="100" name="description" type="text" value="{{ photo.description }}" style="margin-bottom:0px;height:80px;word-break:break-word;">
											</div>
										</div>
										<input type="text" name='pk' id="id_pk" value="{{ photo.pk }}" style="display:none">
										<button type="submit" class="fill" style="margin:0px;margin-top:5px;display:none;">Save</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				{% for photo in photos %}
					<div class="columns small-6 medium-4 large-3" id="photo_{{photo.pk}}">
						<br>
						<div class="article_box" style="width:200px;padding:5px;display:inline-block;" >
							<img src="{{ photo.docfile.url }}">
							<br>
							<button class="copy-button fill" data-clipboard-text="{{ photo.docfile.url }}" style="margin-bottom:0px;margin-top:5px;">Copy URL</button>
							<strong>Title: </strong><font class="photo_{{ photo.pk }}_title">{{ photo.title }}</font>
							<br>
							<strong>Description: </strong><font class="photo_{{ photo.pk }}_description">{{ photo.description }}</font>
							<br>
							@<a href="{{ photo.source }}" class="photo_{{ photo.pk }}_source" style="word-break:break-word;" target="_blank">{{ photo.source }}</a>
							</div>
					</div>
				{% endfor %}
			{% endif %}
		{% else %}
			<p>No documents.</p>
		{% endif %}
	</div>
	<script type="text/javascript">
	$.ajaxSetup({
		data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
	})</script>
	<script src="/static/js/stears/photos.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.Core.min.js"></script>

	<script src = "/static/js/stears/ZeroClipboard.js"></script>
	<script src = "/static/js/stears/stearsClipboard.js"></script>
{% endblock %}