{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block page_title_block %}
{% endblock %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block writers_block %}
	<div class="row">
		<div class="columns small-12 medium-6 small-centered">
			<div class="article_box toggles_div" id="upload_doc_toggle" style="padding:30px;" >
				<a href="#">Upload a new picture?</a>
			</div>
			<div class="article_box upload_doc_toggle" hidden>
				<form method="POST" style="padding:30px;" action="{% url 'stears:photos' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<p>
						{{ form.title.label }}
					</p>
					<p>
						{{ form.title }}
					</p>
					<p>
						{{ form.article_image.label }}
					</p>
					<p>
					{{ form.article_image }}
					</p>
					<button type="submit">upload</button>
				</form>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="columns small-12">
			<div class="row">
				{% if photos %}
					{% for photo in photos %}
						<div class="columns small-6 medium-4 large-3">
							<br>
							<div class="article_box" style="width:200px;padding:5px;display:inline-block;" >
								<img src="{{ photo.docfile.url }}">
								<p style="word-wrap:break-word">
									{{ photo.docfile.url }}
								</p>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p>No documents.</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}