{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block page_title_block %}
{% endblock %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block writers_block %}
	<div class="row">
		<div class="columns small-12 small-centered">
			<div class="article_box toggles_div" id="upload_doc_toggle" style="padding-left:30px;" >
				{{ form.errors }}
				<a href="#">Upload a new picture?</a> <font color="red" style="padding-left:10px;">jpg/png only, max: 2.5MB</font>
			</div>
			<br>
			<div class="article_box upload_doc_toggle" hidden>
				<form method="POST" style="padding:30px;" action="{% url 'weal:photos' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<p>
						{{ form.title.label }}
					</p>
					<p>
						{{ form.title }}
					</p>
					<p style="display:inline-block">
						{{ form.article_image.label }}
					</p>
					<p style="display:inline-block;">
					{{ form.article_image }}
					</p>
					<button class="fill" type="submit">upload</button>
				</form>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="columns small-12">
			<div class="row">
				{% if photos %}
					{% if user|is_editor %}
						{% for photo in photos %}
							<div class="columns small-6 medium-4 large-3" id="photo_{{photo.pk}}">
								<br>
								<div class="article_box" style="width:200px;padding:5px;display:inline-block;" >
									<img src="{{ photo.docfile.url }}">
									<button class="copy-button fill" data-clipboard-text="{{ photo.docfile.url }}" style="margin-bottom:0px;margin-top:5px">Copy image url</button>
									<form data-url="{% url 'weal:delete_photo' %}" method="POST" class="delete_photo_form">
										{% csrf_token %}
										<input type="text" name='pk' id="id_pk" value="{{ photo.pk }}" style="display:none">
										<button type="submit" class="fill confirm-submission" style="margin:0px;margin-top:5px;background-color:#FF4747;">Delete</button>
									</form>
								</div>
							</div>
						{% endfor %}
					{% else %}
						{% for photo in photos %}
							<div class="columns small-6 medium-4 large-3" id="photo_{{photo.pk}}">
								<br>
								<div class="article_box" style="width:200px;padding:5px;display:inline-block;" >
									<img src="{{ photo.docfile.url }}">
									<br>
									<a class="copy-button fill" data-clipboard-text="{{ photo.docfile.url }}">Copy image url</a>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				{% else %}
					<p>No documents.</p>
				{% endif %}
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$.ajaxSetup({
		data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
	})</script>
	<script src="/static/js/stears/photos.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.Core.min.js"></script>

	<script src = "/static/js/stears/ZeroClipboard.js"></script>
	<script src = "/static/js/stears/stearsClipboard.js"></script>
{% endblock %}