{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block page_title_block %}
<br>
<br>
	<div class="row">
		<div class="columns small-11 small-centered" style="padding-left:0px;">
			<h1>Stears Pipeline</h1>
		</div>
	</div>
	<br>
{% endblock %}
{% block writers_block %}
	<div class="row">
		<div class="columns small-11 small-centered">
			{% include 'stears/list_articles.html' %}
		</div>
	</div>
{% endblock %}