{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block page_title_block %}
	<br>
	<br>
	<div class="row fill">
		<div class="columns small-10 small-centered">
			<h1>{{ title }} Review this article</h1>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/stears/tooltip.js">
	</script>
{% endblock %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block writers_block %}
	<div class="row fill">
		<div class="columns small-12 medium-10 small-centered">
			<div class="row fill">
				<div class="columns small-12 medium-8">
					<br>
					<div class="fill article_box" style="width:100%;">
						{% autoescape off %}
						{{ article.content }}
					{% endautoescape %}
				</div>
			</div>
			<div class="columns small-12 medium-4" >
				<br>
				<div>
					<div class="article_box toggles_div" id="review_options" >
						<a style="padding:10px;">Review</a>
					</div>
					<br>
					<div class="article_box review_options" style="padding:10px;">
						<form id="article_review_form" action="{% url 'weal:review' pk=article.article_id %}" method="post">
							{% csrf_token %}
							{% for field in article_review_form %}
								<p style="display:inline-block">
								{{ field.label|format_underscore }}
								<a href="#" class="masterTooltip" id="id_{{ field.label }}_stearsTips" title="Error, description unavailable"><img style="height:20px;width:20px;" src="/static/images/stears/info.png" alt=""></a>
								</p>
								{{ field }}
							{% endfor %}
							<button type="submit" class="fill">Done Reviewing</button>
						</form>
						<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
						<script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.js"></script>
						<script type="text/javascript">
						$(document).ready(function(){

							$.validator.addMethod("ChooseOne", function(value, element) {
							return this.optional(element) || (value != 'None');}, "Please enter a valid rating");

							$("#article_review_form").validate();

							$(".standard-choice").each(function(){
								$(this).rules('add',{ChooseOne:true});
							});
							
						});
						</script>
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>
</div>
{% endblock %}