<head>
	<script type="text/javascript" src="/static/wymeditor/jquery.wymeditor.min.js"></script>
	<script type="text/javascript" src="/static/js/stears/wym.js"></script>
	<link rel="stylesheet" href="/static/wymeditor/skins/default/skin.css">
</head>

{% csrf_token %}
<textarea class="wymeditor" rows="4" cols="50">&lt;p&gt;{{ content }}&lt;/p&gt;</textarea>

<br>
<div class="row">
	<div class="columns small-12">
		{% ifequal user.username article.writer %}
			<div class="row">
				<div class="columns small-12 medium-6">
					<button class="fill wymupdate button2 wym_submit_button" id="save">Save article</button>
				</div>
				<div class="columns small-12 medium-6">
					<button class="wym_submit_button confirm-submission button2 fill" id="review">Post article</button>
				</div>
			</div>
		{% else %}
			{% if article.writer %}
				<div class="columns small-12">
					<button class="fill wymupdate button2 wym_submit_button" id="save">Save</button>
				</div>
			{% else %}
				<div class="row">
					<div class="columns small-12 medium-6">
						<button class="fill wymupdate button2 wym_submit_button" id="save">Save</button>
					</div>
					<div class="columns small-12 medium-6">
						<button class="confirm-submission button2 fill wym_submit_button" id="review">Post article</button>
					</div>
				</div>
			{% endif %}
		{% endifequal %}
	</div>
</div>
{% if article %}
	<script type="text/javascript">
	$.ajaxSetup({
	url: "{% url 'stears:rich_text' article.article_id %}",
	data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
	})
	</script>
{% else %}
	<script type="text/javascript">
	$.ajaxSetup({
	url: "{% url 'stears:rich_text' 0 %}",
	data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
	})
	</script>
{% endif %}