{% load stears_tags %}
<div class="fixed">
	<nav class="top-bar " data-topbar role="navigation">
		<ul class="title-area">
			<li class="name ">
				<h1><a href="{% url 'stears:writers_home' %}">WEAL<font style="color:#6699ff;font-size:12"> alpha version</font></a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
				{% if user.is_authenticated %}
					<li class="divider "></li>
					<li class=" hide-for-medium">
						<a href="{% url 'stears:writers_write' %}" style="font-size:15px;color:#6699ff">{{ user.username|format_name:'short' }}</a>
					</li>
				{% endif %}
			</ul>
			<ul class="right">
				<li>
					<a href="{% url 'stears:writers_write' %}">Write</a>
				</li>
				<li>
					<a href="{% url 'stears:articles_group' group='NSE' %}">NSE-data</a>
				</li>
				{% if user|is_editor %}
					<li>
						<a href="{% url 'stears:writers_list' %}">Writers</a>
					</li>
				{% endif %}
				<li>
					<a href="{% url 'stears:articles_group' group='peers' %}">Articles</a>
				</li>
				<li class="has-form">
					<div class="row collapse">
						<div class=" small-12  columns">
							<a class="button fill" href="{% url 'stears:logout' %}" style="border-radius:3px;background-color:#FF4747;">logout</a>
						</div>
					</div>
				</li>
			</ul>
		</section>
	</nav>
	<div class="row">
		<ul style="float:right;padding-right:10px;">
			{% if user.username|is_editor %}
			<li style="display:inline-block">
				| <a href="{% url 'stears:articles_group' group='submitted' %}">Submissions</a>
			</li>
			<li style="display:inline-block">
				| <a href="{% url 'stears:pipeline' %}">Pipeline</a>
			</li>
			{% endif %}
			<li style="display:inline-block">
				| <a href="#">Notifications</a>
			</li>
			<li style="display:inline-block">
				| <a href="#">Bin</a>
			</li>
		</ul>
	</div>
</div>