{% if writers_article_form %}
	<form method="POST" class="article_box" style="padding:30px;" action="{% url 'stears:post' %}">
		{% csrf_token %}
		<!-- 	<p style="color:red;">
		For new articles, please indicate the related NSE article (if any) before saving!
		</p> -->
		{% if writers_article_form.categories %}
			<h6>
			Title
			</h6>
			<p>
				{{ writers_article_form.headline }}
			</p>
			<h6>
			NSE headlines <a href='{% url "stears:articles_group" group="NSE" %}'>See all</a>
			</h6>
			{{ writers_article_form.nse_headlines }}
			<h6>
			Category
			</h6>
			{{ writers_article_form.categories }}
			<h6>
			Body
			</h6>
			<p>
				{{ writers_article_form.content }}
			</p>
			{{ writers_article_form.article_id.as_hidden }}
		{% else %}
			<p>
			<h6>
			Headline
			</h6>
			{{ writers_article_form.headline }}
			</p>
			<p>
			<h6>
			Associated NSE headline
			</h6>
			<strong>{{ article.headline }}</strong>
			<p>
				<a href='{% url "stears:articles_group" group="NSE" %}'>... more info about NSE headlines</a>
			</p>
			</p>
			<p>
			<h6>
			Category
			</h6>
			<strong>Tier 1</strong>
			<!-- Potentially use categories as article.category but this means setting nse to default tier 1 -->
			</p>
			<h6>
			Content:
			</h6>
			{{ writers_article_form.content }}
			{{ writers_article_form.nse_headlines.as_hidden }}
		{% endif %}
		<div class="row">
			{% ifequal user.username article.writer %}
			<div class="columns small-12 medium-6">
				<button class="confirm-save button2 fill" type="submit" name="submit" value="save" >Save article</button>
			</div>
			<div class="columns small-12 medium-6">
				<button class="confirm-submission button2 fill" type="submit" name="submit" value="submit" >Post article</button>
			</div>
			{% else %}
			<div class="columns small-12">
				<button class="confirm-save button2 fill" type="submit" name="submit" value="save" >Save article</button>
			</div>
			{% endifequal %}
		</div>
	</form>
	<br>
{% else %}
	<h1>
	Oops, we're afraid you can't edit this Article :-(
	Please contact your editor
	</h1>
{% endif %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script> $.validate();</script>

