{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block page_title_block %}
	<br>
	<div class="row">
		<div class="columns small-12 medium-10 ">
			<h1>{{ title }} Write a Stears article</h1>
		</div>
	</div>
{% endblock %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block writers_block %}
	<div class="row">
		<div class="columns small-12">
			<div class="row">
				<div class="columns small-12 medium-6">
					<br>
					<div class="fill article_box ">
						<a href="{% url 'stears:articles_group' group='NSE' %}" style="padding:10px;">See NSE articles to write about</a>
					</div>
				</div>
				<div class="columns small-12 medium-6">
					<br>
					<div class="fill article_box ">
						<a id="article_form_toggle" style="padding:10px;">Write brand new article</a>
					</div>
				</div>
				<div id="hidden_article_form" class="columns small-12 " hidden>
					<br>
					<div  class="home_box" style="background-color:white;padding:30px;">
						{% include 'stears/write_form.html' %}
					</div>
				</div>
			</div>
		<br>
		{% if suggestions %}
			<div class="row">
				<div class="columns small-12">
					<h4>
					Suggestions
					</h4>
					<div class="row fill">
						{% for article in suggestions %}
							{% include 'stears/article_button.html' %}
							<br>
							{% if forloop.last %}
								<hr>
							{% endif%}
						{% endfor %}
					</div>
					<br>
				</div>
			</div>
		{% endif %}
		{% if articles %}
			<div class="row">
				<div class="columns small-12">
					<h4>
					Your articles
					</h4>
					<div class="columns small-12 small-centered">
						{% include 'stears/list_articles.html' %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	</div>


{% endblock %}