{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block page_title_block %}
{% endblock %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block writers_block %}
	<br>
	<br>
	<div class="row stears_bannerg">
		<div class="row">
			<div class="columns small-12 medium-10 ">
				<h1>Write a Stears article</h1>
			</div>
		</div>
		<div class="row">
			<div class="columns small-12">
				<div class="row">
					<div class="columns small-12 medium-6">
						<br>
						<div class="fill article_box ">
							<a href="{% url 'weal:articles_group' group='NSE' %}" style="padding:10px;">See NSE articles to write about</a>
						</div>
					</div>
					<div class="columns small-12 medium-6">
						<br>
						<div class="fill article_box ">
							<a id="article_form_toggle" style="padding:10px;">Write brand new article</a>
						</div>
					</div>
					<div id="hidden_article_form" class="columns small-12 " hidden>
						<br>
						{% include 'stears/write_form.html' %}
					</div>
				</div>
				<br>
				{% if suggestions %}
					<div class="row">
						<div class="columns small-12 ">
							<h4>
							Suggestions
							</h4>
							<div class="columns small-12 small-centered">
								{% for article in suggestions %}
									{% include 'stears/article_button.html' %}
									{% if forloop.last %}
										<br>
									{% endif%}
								{% endfor %}
							</div>
							<br>
						</div>
					</div>
				{% endif %}
				{% if daily_column_form %}
					<div class="row">
						<div class="columns small-12 small-centered medium-6 medium-uncentered">
							<a class="fill article_box toggles_div" style="padding-left:10px;" id="dc_form_toggle">
								Enter Daily Column
							</a>
							<br>
							<br>
							<div class="article_box dc_form_toggle " style="padding-left:10px;"hidden>
								<form method="POST" action="{% url 'weal:daily_column' %}" enctype="multipart/form-data">
									{% csrf_token %}
									Column title
									{{ daily_column_form.title }}
									<button type="submit" class="fill">Go</button>
								</form>
							</div>
							<br>
						</div>
					</div>
				{% endif %}
				{% if articles %}
					<div class="row">
						<div class="columns small-12">
							<h4>
							Your articles
							</h4>
							<div class="columns small-12 small-centered">
								{% include 'stears/list_articles.html' %}
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	
{% endblock %}