{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block page_title_block %}
{% endblock %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block writers_block %}
	<hr>
	<div class="row fill">
		<div class="columns small-12 small-centered">
			<div class="row ">
				<div class="columns small-12 medium-5 large-3">
					{% if writer.username|is_editor %}
						<h4 style="color:red">
						Editor Account
						</h4>
					{% else %}
						<form action="{% url 'stears:approve_writer' %}" method="post" id="aprrove">
							{% csrf_token %}
							{% ifequal writer.state 'approved' %}
								<button class="button2 fill" type="submit" name="revoke" value="{{ writer.username }}">Revoke {{ writer.username }}'s account</button>
							{% else %}
								<button class="button2 fill" type="submit" name="approve" value="{{ writer.username }}">Verify {{ writer.username }}'s account</button>
							{% endifequal %}
						</form>
					{% endif %}
					<br>
				</div>
			</div>
			<div class="row">
				<div class="columns small-12 medium-4">

						<a id="writers_details" class="article_box toggles_div" >
							Writer Info/Details
						</a>
						<br>
						<br>
						<br>
						<div class="content writers_details" style = "background-color:#efefef;" hidden>
							<table class="article_box">
								{% for attr,value in writer.items %}
									{% ifnotequal attr 'password' %}
										<tr>
											<td>
												{{ attr }}
											</td>
											<td>
												{{ value }}
											</td>
										</tr>
									{% endifnotequal %}
								{% endfor %}
							</table>
						</div>
				</div>
				<div class="columns small-12 large-8">
					<br>
					<h4>
					{{ writer.username }}'s recent articles
					</h4>
					<br>
					{% include 'stears/list_articles.html' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}