{% extends "stears/writers_base_test.html" %}
{% load stears_tags %}
{% block page_title_block %}
{% endblock %}
{% block nav_block %}
	{% include 'stears/writers_nav.html' %}
{% endblock %}
{% block writers_block %}
	<br>
	<div class="row fill">
		<div class="columns small-11 small-centered">
			<div class="row fill" style="padding:0px">
				<div class="columns small-12 medium-5 large-3" style="padding:0px">
					{% if writer.username|is_editor %}
						<h4 style="color:red">
						Editor Account
						</h4>
					{% else %}
						{% if user.username|is_editor %}
							<form action="{% url 'weal:approve_writer' %}" method="post" id="aprrove">
								{% csrf_token %}
								{% ifequal writer.state 'approved' %}
									<button class="button2 fill" type="submit" name="revoke" value="{{ writer.username }}">Revoke {{ writer.username|format_name:'short' }}'s account</button>
								{% else %}
									<button class="button2 fill" type="submit" name="approve" value="{{ writer.username }}">Verify {{ writer.username|format_name:'short' }}'s account</button>
								{% endifequal %}
							</form>
						{% endif %}
					{% endif %}
					<br>
				</div>
			</div>
			<div class="row fill">
				<div class="columns small-12 large-3" style="padding:0px">
					<br>
					<br>
					<div class="article_box writer_details" style="padding:20px;">
						<div class="row">
							<div class="columns small-6">
								<strong>Name:</strong>
							</div>
							<div class="columns small-6">
								{{ writer.first_name|title }}, {{ writer.last_name|title }}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="columns small-6">
								<strong>Role:</strong>
							</div>
							<div class="columns small-6">
								{{ writer.role|pretty_category }}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="columns small-6">
								<strong>Email:</strong>
							</div>
							<div class="columns small-12">
								{{ writer.email }}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="columns small-6">
								<strong>Linkedin:</strong>
							</div>
							<div class="columns small-12" >
								{{ writer.linkedin }}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="columns small-6">
								<strong>Date of birth:</strong> 
							</div>
							<div class="columns small-6">
								{{ writer.dob }}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="columns small-6">
								<strong>Gender:</strong> {{ writer.sex }}
							</div>
							<div class="columns small-6">
								<strong>Field of study:</strong> {{ writer.study }}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="columns small-6">
								<strong>Occupation:</strong> {{ writer.occupation }}
							</div>
							<div class="columns small-6">
								<strong>Interests:</strong> {{ writer.interests }}
							</div>
						</div>
						<br>
						{% ifequal writer.username user.username %}
							<br>
							<div class="row">
								<div class="columns small-12">
									<button class="fill toggles_div" id="writer_details">
									Edit details
									</button>
								</div>
							</div>
						{% endifequal %}
						<br>
					</div>
					<div class="article_box writer_details" style="padding:20px;padding-bottom:0px;" hidden>
						<form action="{% url 'weal:edit_writer_detail' %}" method="post">
								{% csrf_token %}
								{{ edit_writer_form.first_name.label }}
								<p>{{ edit_writer_form.first_name }}</p>
								{{ edit_writer_form.last_name.label }}
								<p>{{ edit_writer_form.last_name }}</p>
								{{ edit_writer_form.new_email.label }}
								<p>{{ edit_writer_form.new_email }}</p>
								<p hidden>{{ edit_writer_form.email }}</p>
								<p hidden>{{ edit_writer_form.username }}</p>
								{{ edit_writer_form.role.label }}
								<p>{{ edit_writer_form.role }}</p>
								{{ edit_writer_form.linkedin.label }}
								<p>{{ edit_writer_form.linkedin }}</p>
								{{ edit_writer_form.dob.label }}
								<p>{{ edit_writer_form.dob }}</p>
								{{ edit_writer_form.sex.label }}
								<p>{{ edit_writer_form.sex }}</p>
								{{ edit_writer_form.study.label }}
								<p>{{ edit_writer_form.study }}</p>
								{{ edit_writer_form.occupation.label }}
								<p>{{ edit_writer_form.occupation }}</p>
								{{ edit_writer_form.interests.label }}
								<p>{{ edit_writer_form.interests }}</p>
								<br>
								<div class="row">
									<div class="columns small-12">
										<button class="fill toggles_div cancel_button" type="cancel" id="writer_details">
										Cancel
										</button>
										<button class="fill toggles_div" type="submit" id="writer_details">
										Save edits
										</button>
									</div>
								</div>
						</form>
						<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
						<script> $.validate();</script>
						<br>
					</div>
				</div>
				<div class="columns small-12 large-8" >
					<br>
					<h4>
					{{ writer.username|format_name:'short' }}'s recent articles
					</h4>
					<br>
					{% include 'stears/list_articles.html' %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}