{% if writers_article_form %}
	<form method="post" id="article_form" id="write_form" class="article_box" style="padding:30px;" >
		<!-- 	<p style="color:red;">
		For new articles, please indicate the related NSE article (if any) before saving!
		</p> -->
		<p style="color:red;">Please do not paste directly from word. Use the paste button as explained in the <a href="{% url 'weal:article_detail' pk=26 %}">PASTING FROM WORD</a> tutorial</p>

		{% csrf_token %}
		{% if writers_article_form.categories %}
			<h6>
			Title
			</h6>
			<p>
				{{ writers_article_form.headline }}
			</p>
			<h6>
			NSE headlines <a href='{% url "weal:articles_group" group="NSE" %}'>See all</a>
			</h6>
			{{ writers_article_form.nse_headlines }}
			<h6>
			Category
			</h6>
			{{ writers_article_form.categories }}
			<h6>
			{{ writers_article_form.article_id.as_hidden }}
		{% else %}
			<p>
			<h6>
			Headline
			</h6>
			{{ writers_article_form.headline }}
			</p>
			<p>
			<h6>
			Associated NSE headline
			</h6>
			<strong>{{ article.headline }}</strong>
			<p>
				<a href='{% url "weal:articles_group" group="NSE" %}'>... more info about NSE headlines</a>
			</p>
			</p>
			<p>
			<h6>
			Category
			</h6>
			<strong>Tier 1</strong>
			<!-- Potentially use categories as article.category but this means setting nse to default tier 1 -->
			</p>
			{{ writers_article_form.article_id.as_hidden }}
		{% endif %}

		<script type="text/javascript" src="/static/wymeditor/jquery.wymeditor.min.js"></script>
		<script type="text/javascript" src="/static/js/stears/wym_catch_paste.js"></script>
		<link rel="stylesheet" href="/static/wymeditor/skins/default/skin.css">
		<script type="text/javascript" src="/static/js/stears/wym.js"></script>
		<textarea class="wymeditor article_editor" rows="4" cols="50">&lt;p&gt;{{ article.content }}&lt;/p&gt;</textarea>

		<br>
		<div class="row">
			<div class="columns small-12">
				{% ifequal user.username article.writer %}
					<div class="row">
						<div class="columns small-12 medium-6">
							<button type="submit" name="submit" value="save" class="fill wymupdate button2 wym_submit_button">Save article</button>
						</div>
						<div class="columns small-12 medium-6">
							<button class="wym_submit_button wymupdate button2 fill" type="submit" name="submit" value="review" >Post article</button>
						</div>
					</div>
				{% else %}
					{% if perms.edit %}
						<div class="row">
							<div class="columns small-12 medium-6">
								<button type="submit" name="submit" value="save" class="fill wymupdate button2 wym_submit_button">Save article</button>
							</div>
							<div class="columns small-12 medium-6">
								<button class="wym_submit_button wymupdate button2 fill" type="submit" name="submit" value="review" >Post article</button>
							</div>
						</div>
					{% else %}
						<div class="columns small-12">
							<button type="submit" name="submit" value="save" class="fill wymupdate button2 wym_submit_button">Save article</button>
						</div>
					{% endif %}
				{% endifequal %}
			</div>
		</div>
	</form>

	<script type="text/javascript">
	$.ajaxSetup({
	url: "{% url 'weal:submit' %}",
	data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
	})
	</script>


{% else %}
	<h1>
	Oops, we're afraid you can't edit this Article :-(
	Please contact your editor
	</h1>
{% endif %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
<script> $.validate();</script>

