{% extends 'stears/writers_base_test.html' %}
{% block nav_block %}
	{% include 'stears/boss_nav.html' %}
{% endblock %}

{% block writers_block %}
	{% load stears_tags %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="columns small-12">
			<div class="row">
				<div class="columns small-12  small-centered">
					<table id="myTable" class="tablesorter responsive">
						<thead>
							<tr>
								<th>Headline</th>
								<th>Writer</th>
								<th>NSE article</th>
								<th>Last update time</th>
								<th>Category</th>
							</tr>
						</thead>
						<tbody>
							{% for article in article_list %}
								<tr>
									<td >
										{{ article.headline }}
									</td >
									<td >
										{{ article.writer }}
									</td>
									<td >
										{{ article.nse_article_id }}
									</td >
									<td >
										{{ article.time|nse_date }}
									</td >
									<td  >
										{{ article.category }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}