<!-- jQuery library is required, see http://jquery.com/ -->
<script type="text/javascript" src="/static/js/vendor/jquery-latest.js"></script>
<!-- WYMeditor main JS file, minified version -->
<script type="text/javascript" src="/static/wymeditor/jquery.wymeditor.min.js"></script>
<script type="text/javascript" src="/static/js/stears/wym.js"></script>
<link rel="stylesheet" href="/static/wymeditor/skins/default/skin.css">
<link rel="stylesheet" href="/static/css/foundation.css">
<link rel="stylesheet" href="/static/css/stears.css">
<div class="results">
	
</div>
<br>
<br>
<br>
<div class="row">
	<div class="columns small-12">
		<div class="article_box" style="padding:20px;">
			<form method="post" >
				{% csrf_token %}
				<textarea class="wymeditor" rows="4" cols="50">&lt;p&gt;{{ content }}&lt;/p&gt;</textarea>
			</form>
			<br>
			<div class="row">
				<div class="columns small-6">
					<button class="fill wymupdate wym_preview_button">Preview</button>
				</div>
				<div class="columns small-6">
					<button class="fill wymupdate wym_submit_button">Save</button>
				</div>
			</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
$.ajaxSetup({
url: "{% url 'stears:rich_text' article.article_id %}",
data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
})
</script>